/*
* Compass (optional)
*
* We recommend the use of autoprefixer instead of Compass
* when using buttons. However, buttons does support Compass.
* simply change $ubtn-use-compass to true and uncomment the
* @import 'compass' code below to use Compass.
*/
/*
* Required Files
*
* These files include the variables and options
* and base css styles that are required to generate buttons.
*/
/*
* $ubtn prefix (reserved)
*
* This prefix stands for Unicorn Button - ubtn
* We provide a prefix to the Sass Variables to
* prevent namespace collisions that could occur if
* you import buttons as part of your Sass build process.
* We kindly ask you not to use the prefix $ubtn in your project
* in order to avoid possilbe name conflicts. Thanks!
*/
/*
* Button Namespace (ex .button or .btn)
*
*/
/*
* Button Appearance & Types (Size, Color, Shape, Name, etc.)
*
* Most of these are self explanatory and relate to the appearance
* of the buttons that will be produced.
*
* $ubtn-colors - (name, background, color)
* $ubtn-colors is used to generate the differnt colors
* (ex. class="button-primary"). Modify the colors and
* compile with sass to see your changes. You can add as
* man colors as you want. Each block (name, background, color)
* generates a class like .button-primary, .button-secondary, etc.
*/
/*
* Typographical Settings
*
*/
/*
* Color Mixin
*
* Iterates through the list of colors and creates
*
*/
/*
* Base Button Style
*
* The default values for the .button class
*/
.button {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0px 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*
  * Disabled State
  *
  * The disabled state uses the class .disabled, is-disabled,
  * and the form attribute disabled="disabled".
  * The use of !important is only added because this is a state
  * that must be applied to all buttons when in a disabled state.
  */ }
  .button:hover, .button:focus {
    background-color: #EEE;
    border-color: #EEE;
    text-decoration: none;
    outline: none; }
  .button:active, .button.is-active {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #d4d4d4;
    color: #d4d4d4; }
  .button.disabled, .button.disabled:hover, .button.disabled:focus, .button.disabled:active, .button.is-disabled, .button.is-disabled:hover, .button.is-disabled:focus, .button.is-disabled:active, .button:disabled {
    opacity: .8 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important; }

/*
* Base Button Tyography
*
*/
.button-uppercase {
  text-transform: uppercase; }

.button-lowercase {
  text-transform: lowercase; }

.button-capitalize {
  text-transform: capitalize; }

.button-small-caps {
  font-variant: small-caps; }

/*
* Base Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/
.button-primary,
.button-primary-flat {
  background-color: #1B9AF7;
  color: #FFF;
  border-color: #1B9AF7; }
  .button-primary:hover, .button-primary:focus,
  .button-primary-flat:hover,
  .button-primary-flat:focus {
    background-color: #4cb0f9;
    border-color: #4cb0f9; }
  .button-primary:active, .button-primary.is-active,
  .button-primary-flat:active,
  .button-primary-flat.is-active {
    background-color: #2798eb;
    border-color: #2798eb;
    color: #0880d7; }

.button-secondary,
.button-secondary-flat {
  background-color: #DCD4F9;
  color: #FFF;
  border-color: #DCD4F9; }
  .button-secondary:hover, .button-secondary:focus,
  .button-secondary-flat:hover,
  .button-secondary-flat:focus {
    background-color: white;
    border-color: white; }
  .button-secondary:active, .button-secondary.is-active,
  .button-secondary-flat:active,
  .button-secondary-flat.is-active {
    background-color: #ddd6f7;
    border-color: #ddd6f7;
    color: #b8a7f3; }

.button-plain,
.button-plain-flat {
  background-color: #FFF;
  color: #333;
  border-color: #FFF; }
  .button-plain:hover, .button-plain:focus,
  .button-plain-flat:hover,
  .button-plain-flat:focus {
    background-color: white;
    border-color: white; }
  .button-plain:active, .button-plain.is-active,
  .button-plain-flat:active,
  .button-plain-flat.is-active {
    background-color: white;
    border-color: white;
    color: #e6e6e6; }

.button-action,
.button-action-flat {
  background-color: #A5DE37;
  color: #FFF;
  border-color: #A5DE37; }
  .button-action:hover, .button-action:focus,
  .button-action-flat:hover,
  .button-action-flat:focus {
    background-color: #b9e563;
    border-color: #b9e563; }
  .button-action:active, .button-action.is-active,
  .button-action-flat:active,
  .button-action-flat.is-active {
    background-color: #a1d243;
    border-color: #a1d243;
    color: #8bc220; }

.button-highlight,
.button-highlight-flat {
  background-color: #FEAE1B;
  color: #FFF;
  border-color: #FEAE1B; }
  .button-highlight:hover, .button-highlight:focus,
  .button-highlight-flat:hover,
  .button-highlight-flat:focus {
    background-color: #fec04e;
    border-color: #fec04e; }
  .button-highlight:active, .button-highlight.is-active,
  .button-highlight-flat:active,
  .button-highlight-flat.is-active {
    background-color: #f3ab26;
    border-color: #f3ab26;
    color: #e59501; }

.button-caution,
.button-caution-flat {
  background-color: #FF4351;
  color: #FFF;
  border-color: #FF4351; }
  .button-caution:hover, .button-caution:focus,
  .button-caution-flat:hover,
  .button-caution-flat:focus {
    background-color: #ff7680;
    border-color: #ff7680; }
  .button-caution:active, .button-caution.is-active,
  .button-caution-flat:active,
  .button-caution-flat.is-active {
    background-color: #f64c59;
    border-color: #f64c59;
    color: #ff1022; }

.button-royal,
.button-royal-flat {
  background-color: #7B72E9;
  color: #FFF;
  border-color: #7B72E9; }
  .button-royal:hover, .button-royal:focus,
  .button-royal-flat:hover,
  .button-royal-flat:focus {
    background-color: #a49ef0;
    border-color: #a49ef0; }
  .button-royal:active, .button-royal.is-active,
  .button-royal-flat:active,
  .button-royal-flat.is-active {
    background-color: #827ae1;
    border-color: #827ae1;
    color: #5246e2; }

/*
* Base Layout Styles
*
* Very Miminal Layout Styles
*/
.button-block,
.button-stacked {
  display: block; }

/*
* Button Types (optional)
*
* All of the files below represent the various button
* types (including shapes & sizes). None of these files
* are required. Simple remove the uneeded type below and
* the button type will be excluded from the final build
*/
/*
* Button Shapes
*
* This file creates the various button shapes
* (ex. Circle, Rounded, Pill)
*/
.button-pill {
  border-radius: 200px; }

.button-circle {
  border-radius: 100%; }

.button-rounded {
  border-radius: 3px; }

/*
* Circle Button Size Adjustment
*
* Remove padding and set a fixed width.
*/
.button-circle {
  padding: 0px !important;
  width: 40px; }
  .button-circle.button-giant {
    width: 80px; }
  .button-circle.button-jumbo {
    width: 60px; }
  .button-circle.button-large {
    width: 50px; }
  .button-circle.button-default {
    width: 40px; }
  .button-circle.button-small {
    width: 30px; }
  .button-circle.button-tiny {
    width: 20px; }

/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/
.button-giant {
  font-size: 28px;
  height: 80px;
  line-height: 80px;
  padding: 0px 80px; }

.button-jumbo {
  font-size: 21px;
  height: 60px;
  line-height: 60px;
  padding: 0px 60px; }

.button-large {
  font-size: 17.5px;
  height: 50px;
  line-height: 50px;
  padding: 0px 50px; }

.button-default {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0px 40px; }

.button-small {
  font-size: 10.5px;
  height: 30px;
  line-height: 30px;
  padding: 0px 30px; }

.button-tiny {
  font-size: 7px;
  height: 20px;
  line-height: 20px;
  padding: 0px 20px; }

/*
* Border Buttons
*
* These buttons have no fill they only have a
* border to define their hit target.
*/
.button-border, .button-border-thin, .button-border-thick {
  background: none;
  border-width: 2px;
  border-style: solid; }
  .button-border:hover, .button-border-thin:hover, .button-border-thick:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .button-border:active, .button-border-thin:active, .button-border-thick:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }

/*
* Border Optional Sizes
*
* A slight variation in border thickness
*/
.button-border-thin {
  border-width: 1px; }

.button-border-thick {
  border-width: 3px; }

.button-border, .button-border-thin, .button-border-thick,
.button-border-thin,
.button-border-thick {
  /*
  * Border Button Colors
  *
  * Create colors for buttons
  * (.button-primary, .button-secondary, etc.)
  */
  /*
  * Border Button Size Adjustment
  *
  * The line-height must be adjusted to compinsate for
  * the width of the border.
  */ }
  .button-border.button-primary, .button-primary.button-border-thin, .button-primary.button-border-thick,
  .button-border-thin.button-primary,
  .button-border-thick.button-primary {
    color: #1B9AF7; }
    .button-border.button-primary:hover, .button-primary.button-border-thin:hover, .button-primary.button-border-thick:hover, .button-border.button-primary:focus, .button-primary.button-border-thin:focus, .button-primary.button-border-thick:focus,
    .button-border-thin.button-primary:hover,
    .button-border-thin.button-primary:focus,
    .button-border-thick.button-primary:hover,
    .button-border-thick.button-primary:focus {
      background-color: rgba(76, 176, 249, 0.9);
      color: rgba(255, 255, 255, 0.7); }
    .button-border.button-primary:active, .button-primary.button-border-thin:active, .button-primary.button-border-thick:active,
    .button-border-thin.button-primary:active,
    .button-border-thick.button-primary:active {
      background-color: rgba(39, 152, 235, 0.7);
      color: rgba(255, 255, 255, 0.5); }
  .button-border.button-secondary, .button-secondary.button-border-thin, .button-secondary.button-border-thick,
  .button-border-thin.button-secondary,
  .button-border-thick.button-secondary {
    color: #DCD4F9; }
    .button-border.button-secondary:hover, .button-secondary.button-border-thin:hover, .button-secondary.button-border-thick:hover, .button-border.button-secondary:focus, .button-secondary.button-border-thin:focus, .button-secondary.button-border-thick:focus,
    .button-border-thin.button-secondary:hover,
    .button-border-thin.button-secondary:focus,
    .button-border-thick.button-secondary:hover,
    .button-border-thick.button-secondary:focus {
      background-color: rgba(255, 255, 255, 0.9);
      color: rgba(255, 255, 255, 0.7); }
    .button-border.button-secondary:active, .button-secondary.button-border-thin:active, .button-secondary.button-border-thick:active,
    .button-border-thin.button-secondary:active,
    .button-border-thick.button-secondary:active {
      background-color: rgba(221, 214, 247, 0.7);
      color: rgba(255, 255, 255, 0.5); }
  .button-border.button-plain, .button-plain.button-border-thin, .button-plain.button-border-thick,
  .button-border-thin.button-plain,
  .button-border-thick.button-plain {
    color: #FFF; }
    .button-border.button-plain:hover, .button-plain.button-border-thin:hover, .button-plain.button-border-thick:hover, .button-border.button-plain:focus, .button-plain.button-border-thin:focus, .button-plain.button-border-thick:focus,
    .button-border-thin.button-plain:hover,
    .button-border-thin.button-plain:focus,
    .button-border-thick.button-plain:hover,
    .button-border-thick.button-plain:focus {
      background-color: rgba(255, 255, 255, 0.9);
      color: rgba(51, 51, 51, 0.7); }
    .button-border.button-plain:active, .button-plain.button-border-thin:active, .button-plain.button-border-thick:active,
    .button-border-thin.button-plain:active,
    .button-border-thick.button-plain:active {
      background-color: rgba(255, 255, 255, 0.7);
      color: rgba(51, 51, 51, 0.5); }
  .button-border.button-action, .button-action.button-border-thin, .button-action.button-border-thick,
  .button-border-thin.button-action,
  .button-border-thick.button-action {
    color: #A5DE37; }
    .button-border.button-action:hover, .button-action.button-border-thin:hover, .button-action.button-border-thick:hover, .button-border.button-action:focus, .button-action.button-border-thin:focus, .button-action.button-border-thick:focus,
    .button-border-thin.button-action:hover,
    .button-border-thin.button-action:focus,
    .button-border-thick.button-action:hover,
    .button-border-thick.button-action:focus {
      background-color: rgba(185, 229, 99, 0.9);
      color: rgba(255, 255, 255, 0.7); }
    .button-border.button-action:active, .button-action.button-border-thin:active, .button-action.button-border-thick:active,
    .button-border-thin.button-action:active,
    .button-border-thick.button-action:active {
      background-color: rgba(161, 210, 67, 0.7);
      color: rgba(255, 255, 255, 0.5); }
  .button-border.button-highlight, .button-highlight.button-border-thin, .button-highlight.button-border-thick,
  .button-border-thin.button-highlight,
  .button-border-thick.button-highlight {
    color: #FEAE1B; }
    .button-border.button-highlight:hover, .button-highlight.button-border-thin:hover, .button-highlight.button-border-thick:hover, .button-border.button-highlight:focus, .button-highlight.button-border-thin:focus, .button-highlight.button-border-thick:focus,
    .button-border-thin.button-highlight:hover,
    .button-border-thin.button-highlight:focus,
    .button-border-thick.button-highlight:hover,
    .button-border-thick.button-highlight:focus {
      background-color: rgba(254, 192, 78, 0.9);
      color: rgba(255, 255, 255, 0.7); }
    .button-border.button-highlight:active, .button-highlight.button-border-thin:active, .button-highlight.button-border-thick:active,
    .button-border-thin.button-highlight:active,
    .button-border-thick.button-highlight:active {
      background-color: rgba(243, 171, 38, 0.7);
      color: rgba(255, 255, 255, 0.5); }
  .button-border.button-caution, .button-caution.button-border-thin, .button-caution.button-border-thick,
  .button-border-thin.button-caution,
  .button-border-thick.button-caution {
    color: #FF4351; }
    .button-border.button-caution:hover, .button-caution.button-border-thin:hover, .button-caution.button-border-thick:hover, .button-border.button-caution:focus, .button-caution.button-border-thin:focus, .button-caution.button-border-thick:focus,
    .button-border-thin.button-caution:hover,
    .button-border-thin.button-caution:focus,
    .button-border-thick.button-caution:hover,
    .button-border-thick.button-caution:focus {
      background-color: rgba(255, 118, 128, 0.9);
      color: rgba(255, 255, 255, 0.7); }
    .button-border.button-caution:active, .button-caution.button-border-thin:active, .button-caution.button-border-thick:active,
    .button-border-thin.button-caution:active,
    .button-border-thick.button-caution:active {
      background-color: rgba(246, 76, 89, 0.7);
      color: rgba(255, 255, 255, 0.5); }
  .button-border.button-royal, .button-royal.button-border-thin, .button-royal.button-border-thick,
  .button-border-thin.button-royal,
  .button-border-thick.button-royal {
    color: #7B72E9; }
    .button-border.button-royal:hover, .button-royal.button-border-thin:hover, .button-royal.button-border-thick:hover, .button-border.button-royal:focus, .button-royal.button-border-thin:focus, .button-royal.button-border-thick:focus,
    .button-border-thin.button-royal:hover,
    .button-border-thin.button-royal:focus,
    .button-border-thick.button-royal:hover,
    .button-border-thick.button-royal:focus {
      background-color: rgba(164, 158, 240, 0.9);
      color: rgba(255, 255, 255, 0.7); }
    .button-border.button-royal:active, .button-royal.button-border-thin:active, .button-royal.button-border-thick:active,
    .button-border-thin.button-royal:active,
    .button-border-thick.button-royal:active {
      background-color: rgba(130, 122, 225, 0.7);
      color: rgba(255, 255, 255, 0.5); }
  .button-border.button-giant, .button-giant.button-border-thin, .button-giant.button-border-thick,
  .button-border-thin.button-giant,
  .button-border-thick.button-giant {
    line-height: 76px; }
  .button-border.button-jumbo, .button-jumbo.button-border-thin, .button-jumbo.button-border-thick,
  .button-border-thin.button-jumbo,
  .button-border-thick.button-jumbo {
    line-height: 56px; }
  .button-border.button-large, .button-large.button-border-thin, .button-large.button-border-thick,
  .button-border-thin.button-large,
  .button-border-thick.button-large {
    line-height: 46px; }
  .button-border.button-default, .button-default.button-border-thin, .button-default.button-border-thick,
  .button-border-thin.button-default,
  .button-border-thick.button-default {
    line-height: 36px; }
  .button-border.button-small, .button-small.button-border-thin, .button-small.button-border-thick,
  .button-border-thin.button-small,
  .button-border-thick.button-small {
    line-height: 26px; }
  .button-border.button-tiny, .button-tiny.button-border-thin, .button-tiny.button-border-thick,
  .button-border-thin.button-tiny,
  .button-border-thick.button-tiny {
    line-height: 16px; }

/*
* Raised Buttons
*
* A classic looking button that offers
* great depth and affordance.
*/
.button-raised {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
  background: -webkit-linear-gradient(#f6f6f6, #e1e1e1);
  background: linear-gradient(#f6f6f6, #e1e1e1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.15); }
  .button-raised:hover, .button-raised:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
    background: -webkit-linear-gradient(top, white, gainsboro);
    background: linear-gradient(top, white, gainsboro); }
  .button-raised:active {
    background: #eeeeee;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white; }

/*
* Raised Button Colors
*
* Create colors for raised buttons
*/
.button-raised.button-primary {
  border-color: #088ef0;
  background: -webkit-gradient(linear, left top, left bottom, from(#34a5f8), to(#088ef0));
  background: -webkit-linear-gradient(#34a5f8, #088ef0);
  background: linear-gradient(#34a5f8, #088ef0); }
  .button-raised.button-primary:hover, .button-raised.button-primary:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#42abf8), to(#0888e6));
    background: -webkit-linear-gradient(top, #42abf8, #0888e6);
    background: linear-gradient(top, #42abf8, #0888e6); }
  .button-raised.button-primary:active {
    border-color: #0880d7;
    background: #2798eb; }
.button-raised.button-secondary {
  border-color: #cabef6;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeafc), to(#cabef6));
  background: -webkit-linear-gradient(#eeeafc, #cabef6);
  background: linear-gradient(#eeeafc, #cabef6); }
  .button-raised.button-secondary:hover, .button-raised.button-secondary:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f8fe), to(#c3b5f5));
    background: -webkit-linear-gradient(top, #f9f8fe, #c3b5f5);
    background: linear-gradient(top, #f9f8fe, #c3b5f5); }
  .button-raised.button-secondary:active {
    border-color: #b8a7f3;
    background: #ddd6f7; }
.button-raised.button-plain {
  border-color: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
  background: -webkit-linear-gradient(white, #f2f2f2);
  background: linear-gradient(white, #f2f2f2); }
  .button-raised.button-plain:hover, .button-raised.button-plain:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background: -webkit-linear-gradient(top, white, #ededed);
    background: linear-gradient(top, white, #ededed); }
  .button-raised.button-plain:active {
    border-color: #e6e6e6;
    background: white; }
.button-raised.button-action {
  border-color: #9ad824;
  background: -webkit-gradient(linear, left top, left bottom, from(#afe24d), to(#9ad824));
  background: -webkit-linear-gradient(#afe24d, #9ad824);
  background: linear-gradient(#afe24d, #9ad824); }
  .button-raised.button-action:hover, .button-raised.button-action:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#b5e45a), to(#94cf22));
    background: -webkit-linear-gradient(top, #b5e45a, #94cf22);
    background: linear-gradient(top, #b5e45a, #94cf22); }
  .button-raised.button-action:active {
    border-color: #8bc220;
    background: #a1d243; }
.button-raised.button-highlight {
  border-color: #fea502;
  background: -webkit-gradient(linear, left top, left bottom, from(#feb734), to(#fea502));
  background: -webkit-linear-gradient(#feb734, #fea502);
  background: linear-gradient(#feb734, #fea502); }
  .button-raised.button-highlight:hover, .button-raised.button-highlight:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#febc44), to(#f49f01));
    background: -webkit-linear-gradient(top, #febc44, #f49f01);
    background: linear-gradient(top, #febc44, #f49f01); }
  .button-raised.button-highlight:active {
    border-color: #e59501;
    background: #f3ab26; }
.button-raised.button-caution {
  border-color: #ff2939;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5c69), to(#ff2939));
  background: -webkit-linear-gradient(#ff5c69, #ff2939);
  background: linear-gradient(#ff5c69, #ff2939); }
  .button-raised.button-caution:hover, .button-raised.button-caution:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6c77), to(#ff1f30));
    background: -webkit-linear-gradient(top, #ff6c77, #ff1f30);
    background: linear-gradient(top, #ff6c77, #ff1f30); }
  .button-raised.button-caution:active {
    border-color: #ff1022;
    background: #f64c59; }
.button-raised.button-royal {
  border-color: #665ce6;
  background: -webkit-gradient(linear, left top, left bottom, from(#9088ec), to(#665ce6));
  background: -webkit-linear-gradient(#9088ec, #665ce6);
  background: linear-gradient(#9088ec, #665ce6); }
  .button-raised.button-royal:hover, .button-raised.button-royal:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#9c95ef), to(#5e53e4));
    background: -webkit-linear-gradient(top, #9c95ef, #5e53e4);
    background: linear-gradient(top, #9c95ef, #5e53e4); }
  .button-raised.button-royal:active {
    border-color: #5246e2;
    background: #827ae1; }

/*
* 3D Buttons
*
* These buttons have a heavy three dimensional
* style that mimics the visual appearance of a
* real life button.
*/
.button-3d {
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e9e9e9));
  background: -webkit-linear-gradient(#f3f3f3, #e9e9e9);
  background: linear-gradient(#f3f3f3, #e9e9e9); }
  .button-3d:hover, .button-3d:focus {
    background-color: white;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ebebeb));
    background: -webkit-linear-gradient(white, #ebebeb);
    background: linear-gradient(white, #ebebeb); }
  .button-3d:active {
    background-color: #eeeeee;
    color: #bbbbbb;
    border: 1px solid #e1e1e1;
    top: 5px;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #bbbbbb, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #bbbbbb, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f3f3f3));
    background: -webkit-linear-gradient(#e9e9e9, #f3f3f3);
    background: linear-gradient(#e9e9e9, #f3f3f3); }

/*
* 3D Button Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/
.button-3d.button-primary {
  border: 1px solid #0880d7;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #0880d7, 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #0880d7, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#259ef7), to(#1196f7));
  background: -webkit-linear-gradient(#259ef7, #1196f7);
  background: linear-gradient(#259ef7, #1196f7); }
  .button-3d.button-primary:hover, .button-3d.button-primary:focus {
    background-color: #4cb0f9;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #077ace, 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #077ace, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#42abf8), to(#1698f7));
    background: -webkit-linear-gradient(#42abf8, #1698f7);
    background: linear-gradient(#42abf8, #1698f7); }
  .button-3d.button-primary:active {
    border: 1px solid #088ef0;
    top: 5px;
    color: #0880d7;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #0662a6, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #0662a6, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#1196f7), to(#259ef7));
    background: -webkit-linear-gradient(#1196f7, #259ef7);
    background: linear-gradient(#1196f7, #259ef7); }
.button-3d.button-secondary {
  border: 1px solid #b8a7f3;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b8a7f3, 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b8a7f3, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3ddfa), to(#d5cbf8));
  background: -webkit-linear-gradient(#e3ddfa, #d5cbf8);
  background: linear-gradient(#e3ddfa, #d5cbf8); }
  .button-3d.button-secondary:hover, .button-3d.button-secondary:focus {
    background-color: white;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b09ef2, 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b09ef2, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f8fe), to(#d8d0f8));
    background: -webkit-linear-gradient(#f9f8fe, #d8d0f8);
    background: linear-gradient(#f9f8fe, #d8d0f8); }
  .button-3d.button-secondary:active {
    border: 1px solid #cabef6;
    top: 5px;
    color: #b8a7f3;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #937aed, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #937aed, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#d5cbf8), to(#e3ddfa));
    background: -webkit-linear-gradient(#d5cbf8, #e3ddfa);
    background: linear-gradient(#d5cbf8, #e3ddfa); }
.button-3d.button-plain {
  border: 1px solid #e6e6e6;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e6e6e6, 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e6e6e6, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fafafa));
  background: -webkit-linear-gradient(white, #fafafa);
  background: linear-gradient(white, #fafafa); }
  .button-3d.button-plain:hover, .button-3d.button-plain:focus {
    background-color: white;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e0e0e0, 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e0e0e0, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fcfcfc));
    background: -webkit-linear-gradient(white, #fcfcfc);
    background: linear-gradient(white, #fcfcfc); }
  .button-3d.button-plain:active {
    border: 1px solid #f2f2f2;
    top: 5px;
    color: #e6e6e6;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #cccccc, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #cccccc, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(white));
    background: -webkit-linear-gradient(#fafafa, white);
    background: linear-gradient(#fafafa, white); }
.button-3d.button-action {
  border: 1px solid #8bc220;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #8bc220, 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #8bc220, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#a9df40), to(#a1dd2e));
  background: -webkit-linear-gradient(#a9df40, #a1dd2e);
  background: linear-gradient(#a9df40, #a1dd2e); }
  .button-3d.button-action:hover, .button-3d.button-action:focus {
    background-color: #b9e563;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #84b91f, 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #84b91f, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#b5e45a), to(#a3dd33));
    background: -webkit-linear-gradient(#b5e45a, #a3dd33);
    background: linear-gradient(#b5e45a, #a3dd33); }
  .button-3d.button-action:active {
    border: 1px solid #9ad824;
    top: 5px;
    color: #8bc220;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #6b9619, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #6b9619, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#a1dd2e), to(#a9df40));
    background: -webkit-linear-gradient(#a1dd2e, #a9df40);
    background: linear-gradient(#a1dd2e, #a9df40); }
.button-3d.button-highlight {
  border: 1px solid #e59501;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e59501, 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e59501, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#feb225), to(#feaa11));
  background: -webkit-linear-gradient(#feb225, #feaa11);
  background: linear-gradient(#feb225, #feaa11); }
  .button-3d.button-highlight:hover, .button-3d.button-highlight:focus {
    background-color: #fec04e;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #db8e01, 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #db8e01, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#febc44), to(#feac16));
    background: -webkit-linear-gradient(#febc44, #feac16);
    background: linear-gradient(#febc44, #feac16); }
  .button-3d.button-highlight:active {
    border: 1px solid #fea502;
    top: 5px;
    color: #e59501;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #b27401, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #b27401, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#feaa11), to(#feb225));
    background: -webkit-linear-gradient(#feaa11, #feb225);
    background: linear-gradient(#feaa11, #feb225); }
.button-3d.button-caution {
  border: 1px solid #ff1022;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #ff1022, 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #ff1022, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4d5a), to(#ff3948));
  background: -webkit-linear-gradient(#ff4d5a, #ff3948);
  background: linear-gradient(#ff4d5a, #ff3948); }
  .button-3d.button-caution:hover, .button-3d.button-caution:focus {
    background-color: #ff7680;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #ff0618, 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #ff0618, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6c77), to(#ff3e4c));
    background: -webkit-linear-gradient(#ff6c77, #ff3e4c);
    background: linear-gradient(#ff6c77, #ff3e4c); }
  .button-3d.button-caution:active {
    border: 1px solid #ff2939;
    top: 5px;
    color: #ff1022;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #dc0010, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #dc0010, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3948), to(#ff4d5a));
    background: -webkit-linear-gradient(#ff3948, #ff4d5a);
    background: linear-gradient(#ff3948, #ff4d5a); }
.button-3d.button-royal {
  border: 1px solid #5246e2;
  position: relative;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #5246e2, 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #5246e2, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#837bea), to(#7369e8));
  background: -webkit-linear-gradient(#837bea, #7369e8);
  background: linear-gradient(#837bea, #7369e8); }
  .button-3d.button-royal:hover, .button-3d.button-royal:focus {
    background-color: #a49ef0;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #493de1, 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #493de1, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#9c95ef), to(#776ee8));
    background: -webkit-linear-gradient(#9c95ef, #776ee8);
    background: linear-gradient(#9c95ef, #776ee8); }
  .button-3d.button-royal:active {
    border: 1px solid #665ce6;
    top: 5px;
    color: #5246e2;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #2f21d4, 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #2f21d4, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#7369e8), to(#837bea));
    background: -webkit-linear-gradient(#7369e8, #837bea);
    background: linear-gradient(#7369e8, #837bea); }

/*
* Glowing Buttons
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
@-webkit-keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3);
            box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(44, 154, 219, 0.8);
            box-shadow: 0px 0px 20px rgba(44, 154, 219, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3);
            box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3); } }
@keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3);
            box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(44, 154, 219, 0.8);
            box-shadow: 0px 0px 20px rgba(44, 154, 219, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3);
            box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3); } }
@-webkit-keyframes glowing-primary {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(27, 154, 247, 0.8);
            box-shadow: 0px 0px 20px rgba(27, 154, 247, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3); } }
@keyframes glowing-primary {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(27, 154, 247, 0.8);
            box-shadow: 0px 0px 20px rgba(27, 154, 247, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3);
            box-shadow: 0px 0px 0px rgba(27, 154, 247, 0.3); } }
@-webkit-keyframes glowing-secondary {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3);
            box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(220, 212, 249, 0.8);
            box-shadow: 0px 0px 20px rgba(220, 212, 249, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3);
            box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3); } }
@keyframes glowing-secondary {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3);
            box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(220, 212, 249, 0.8);
            box-shadow: 0px 0px 20px rgba(220, 212, 249, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3);
            box-shadow: 0px 0px 0px rgba(220, 212, 249, 0.3); } }
@-webkit-keyframes glowing-plain {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3); } }
@keyframes glowing-plain {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3); } }
@-webkit-keyframes glowing-action {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3);
            box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(165, 222, 55, 0.8);
            box-shadow: 0px 0px 20px rgba(165, 222, 55, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3);
            box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3); } }
@keyframes glowing-action {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3);
            box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(165, 222, 55, 0.8);
            box-shadow: 0px 0px 20px rgba(165, 222, 55, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3);
            box-shadow: 0px 0px 0px rgba(165, 222, 55, 0.3); } }
@-webkit-keyframes glowing-highlight {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3);
            box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(254, 174, 27, 0.8);
            box-shadow: 0px 0px 20px rgba(254, 174, 27, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3);
            box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3); } }
@keyframes glowing-highlight {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3);
            box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(254, 174, 27, 0.8);
            box-shadow: 0px 0px 20px rgba(254, 174, 27, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3);
            box-shadow: 0px 0px 0px rgba(254, 174, 27, 0.3); } }
@-webkit-keyframes glowing-caution {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(255, 67, 81, 0.8);
            box-shadow: 0px 0px 20px rgba(255, 67, 81, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3); } }
@keyframes glowing-caution {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(255, 67, 81, 0.8);
            box-shadow: 0px 0px 20px rgba(255, 67, 81, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 67, 81, 0.3); } }
@-webkit-keyframes glowing-royal {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3);
            box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(123, 114, 233, 0.8);
            box-shadow: 0px 0px 20px rgba(123, 114, 233, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3);
            box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3); } }
@keyframes glowing-royal {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3);
            box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(123, 114, 233, 0.8);
            box-shadow: 0px 0px 20px rgba(123, 114, 233, 0.8); }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3);
            box-shadow: 0px 0px 0px rgba(123, 114, 233, 0.3); } }
/*
* Glowing Buttons Base Styes
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
.button-glow {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
          animation-name: glowing; }
  .button-glow:active {
    -webkit-animation-name: none;
            animation-name: none; }

/*
* Glowing Button Colors
*
* Create colors for glowing buttons
*/
.button-glow.button-primary {
  -webkit-animation-name: glowing-primary;
          animation-name: glowing-primary; }
.button-glow.button-secondary {
  -webkit-animation-name: glowing-secondary;
          animation-name: glowing-secondary; }
.button-glow.button-plain {
  -webkit-animation-name: glowing-plain;
          animation-name: glowing-plain; }
.button-glow.button-action {
  -webkit-animation-name: glowing-action;
          animation-name: glowing-action; }
.button-glow.button-highlight {
  -webkit-animation-name: glowing-highlight;
          animation-name: glowing-highlight; }
.button-glow.button-caution {
  -webkit-animation-name: glowing-caution;
          animation-name: glowing-caution; }
.button-glow.button-royal {
  -webkit-animation-name: glowing-royal;
          animation-name: glowing-royal; }

/*
* Dropdown menu buttons
*
* A dropdown menu that appears
* when a dropdown button is pressed
*/
.button-dropdown {
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: relative;
  overflow: visible;
  display: inline-block; }
  .button-dropdown .button-dropdown-menu-below {
    top: 115%; }
  .button-dropdown .button-dropdown-menu-above {
    bottom: 115%;
    top: auto; }
  .button-dropdown .button-dropdown-divider {
    border-top: 1px solid #e4e4e4; }
  .button-dropdown .button-dropdown-list,
  .button-dropdown > ul {
    display: none;
    position: absolute;
    background: #fcfcfc;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    border-radius: 3px; }
    .button-dropdown .button-dropdown-list > li,
    .button-dropdown > ul > li {
      padding: 0px;
      margin: 0px;
      display: block; }
      .button-dropdown .button-dropdown-list > li:first-child a,
      .button-dropdown > ul > li:first-child a {
        border-top-radius: 3px; }
      .button-dropdown .button-dropdown-list > li:last-child a,
      .button-dropdown > ul > li:last-child a {
        border-bottom-radius: 3px; }
    .button-dropdown .button-dropdown-list a,
    .button-dropdown > ul a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      font-size: 10px;
      color: #333;
      line-height: 30px;
      white-space: nowrap; }
      .button-dropdown .button-dropdown-list a:hover, .button-dropdown .button-dropdown-list a:focus,
      .button-dropdown > ul a:hover,
      .button-dropdown > ul a:focus {
        background-color: #3c6ab9;
        color: #FFF; }

/*
* Buton Groups
*
* A group of related buttons
* displayed edge to edge
*/
.button-group {
  *zoom: 1;
  position: relative;
  display: inline-block; }
  .button-group:after, .button-group:before {
    content: '.';
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0; }
  .button-group .button {
    float: left; }
    .button-group .button:focus, .button-group .button:hover, .button-group .button.active {
      z-index: 5; }
    .button-group .button:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: none; }
    .button-group .button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none; }
    .button-group .button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

/*
* Button Wrapper
*
* A wrap around effect to highlight
* the shape of the button and offer
* a subtle visual effect.
*/
.button-wrap {
  border: 1px solid #e3e3e3;
  display: inline-block;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#FFF));
  background: -webkit-linear-gradient(#f2f2f2, #FFF);
  background: linear-gradient(#f2f2f2, #FFF);
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
          box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04); }
