/* line 2, ../scss/button.scss */
.clear {
  clear: both;
}

/* line 40, ../scss/button.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: boder-box;
  -moz-box-sizing: boder-box;
  box-sizing: boder-box;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d4d4d4));
  background: -webkit-linear-gradient(top, #ffffff, #d4d4d4);
  background: -moz-linear-gradient(top, #ffffff, #d4d4d4);
  background: -o-linear-gradient(top, #ffffff, #d4d4d4);
  background: linear-gradient(top, #ffffff, #d4d4d4);
  text-shadow: 0 1px 1px white;
  display: inline-block;
  border: 1px solid #bbbbbb;
  height: 28px;
  line-height: 28px;
  padding: 0px 20px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666;
}
/* line 58, ../scss/button.scss */
.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background: linear-gradient(top, #ffffff, #e1e1e1);
}
/* line 61, ../scss/button.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 68, ../scss/button.scss */
.button.glow {
  -webkit-transition: box-shadow 1.5s ease-in-out;
  -moz-transition: box-shadow 1.5s ease-in-out;
  -o-transition: box-shadow 1.5s ease-in-out;
  transition: box-shadow 1.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 72, ../scss/button.scss */
.button.glow-on {
  -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 76, ../scss/button.scss */
.button.glow:active, .button.glow-on:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}

/* line 82, ../scss/button.scss */
input.button, button.button {
  height: 30px;
  cursor: pointer;
}

/* line 92, ../scss/button.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}

/* line 102, ../scss/button.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

/* line 111, ../scss/button.scss */
.button-block {
  display: block;
}

/* line 124, ../scss/button.scss */
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 124, ../scss/button.scss */
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

/* line 124, ../scss/button.scss */
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px;
}

/* line 160, ../scss/button.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4aa9e0), color-stop(100%, #1f7db5));
  background: -webkit-linear-gradient(top, #4aa9e0, #1f7db5);
  background: -moz-linear-gradient(top, #4aa9e0, #1f7db5);
  background: -o-linear-gradient(top, #4aa9e0, #1f7db5);
  background: linear-gradient(top, #4aa9e0, #1f7db5);
  border-color: #175f8a;
  color: white;
  text-shadow: 0 -1px 1px rgba(1, 5, 7, 0.35);
}
/* line 166, ../scss/button.scss */
.button-primary:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60b3e4), color-stop(100%, #2186c2));
  background: -webkit-linear-gradient(top, #60b3e4, #2186c2);
  background: -moz-linear-gradient(top, #60b3e4, #2186c2);
  background: -o-linear-gradient(top, #60b3e4, #2186c2);
  background: linear-gradient(top, #60b3e4, #2186c2);
}
/* line 169, ../scss/button.scss */
.button-primary:active {
  background: #4594c2;
  color: #175f8a;
}
/* line 173, ../scss/button.scss */
.button-primary.glow {
  -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 176, ../scss/button.scss */
.button-primary.glow-on {
  -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* line 160, ../scss/button.scss */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96d900), color-stop(100%, #5a8200));
  background: -webkit-linear-gradient(top, #96d900, #5a8200);
  background: -moz-linear-gradient(top, #96d900, #5a8200);
  background: -o-linear-gradient(top, #96d900, #5a8200);
  background: linear-gradient(top, #96d900, #5a8200);
  border-color: #374f00;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
}
/* line 166, ../scss/button.scss */
.button-action:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7f200), color-stop(100%, #649100));
  background: -webkit-linear-gradient(top, #a7f200, #649100);
  background: -moz-linear-gradient(top, #a7f200, #649100);
  background: -o-linear-gradient(top, #a7f200, #649100);
  background: linear-gradient(top, #a7f200, #649100);
}
/* line 169, ../scss/button.scss */
.button-action:active {
  background: #76a312;
  color: #374f00;
}
/* line 173, ../scss/button.scss */
.button-action.glow {
  -webkit-box-shadow: 0px 0px 0px rgba(125, 181, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px rgba(125, 181, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px rgba(125, 181, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 176, ../scss/button.scss */
.button-action.glow-on {
  -webkit-box-shadow: 0px 0px 16px rgba(125, 181, 0, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 16px rgba(125, 181, 0, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 16px rgba(125, 181, 0, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* line 160, ../scss/button.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffaa16), color-stop(100%, #be7900));
  background: -webkit-linear-gradient(top, #ffaa16, #be7900);
  background: -moz-linear-gradient(top, #ffaa16, #be7900);
  background: -o-linear-gradient(top, #ffaa16, #be7900);
  background: linear-gradient(top, #ffaa16, #be7900);
  border-color: #8b5800;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
}
/* line 166, ../scss/button.scss */
.button-highlight:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb32f), color-stop(100%, #cd8200));
  background: -webkit-linear-gradient(top, #ffb32f, #cd8200);
  background: -moz-linear-gradient(top, #ffb32f, #cd8200);
  background: -o-linear-gradient(top, #ffb32f, #cd8200);
  background: linear-gradient(top, #ffb32f, #cd8200);
}
/* line 169, ../scss/button.scss */
.button-highlight:active {
  background: #d99318;
  color: #8b5800;
}
/* line 173, ../scss/button.scss */
.button-highlight.glow {
  -webkit-box-shadow: 0px 0px 0px rgba(241, 153, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px rgba(241, 153, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px rgba(241, 153, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 176, ../scss/button.scss */
.button-highlight.glow-on {
  -webkit-box-shadow: 0px 0px 16px rgba(241, 153, 0, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 16px rgba(241, 153, 0, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 16px rgba(241, 153, 0, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* line 160, ../scss/button.scss */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f03d44), color-stop(100%, #c61017));
  background: -webkit-linear-gradient(top, #f03d44, #c61017);
  background: -moz-linear-gradient(top, #f03d44, #c61017);
  background: -o-linear-gradient(top, #f03d44, #c61017);
  background: linear-gradient(top, #f03d44, #c61017);
  border-color: #970c11;
  color: white;
  text-shadow: 0 -1px 1px rgba(9, 1, 1, 0.35);
}
/* line 166, ../scss/button.scss */
.button-caution:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1555b), color-stop(100%, #d41118));
  background: -webkit-linear-gradient(top, #f1555b, #d41118);
  background: -moz-linear-gradient(top, #f1555b, #d41118);
  background: -o-linear-gradient(top, #f1555b, #d41118);
  background: linear-gradient(top, #f1555b, #d41118);
}
/* line 169, ../scss/button.scss */
.button-caution:active {
  background: #d5343b;
  color: #970c11;
}
/* line 173, ../scss/button.scss */
.button-caution.glow {
  -webkit-box-shadow: 0px 0px 0px rgba(237, 28, 36, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px rgba(237, 28, 36, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px rgba(237, 28, 36, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 176, ../scss/button.scss */
.button-caution.glow-on {
  -webkit-box-shadow: 0px 0px 16px rgba(237, 28, 36, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 16px rgba(237, 28, 36, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 16px rgba(237, 28, 36, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* line 160, ../scss/button.scss */
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c23cb), color-stop(100%, #591682));
  background: -webkit-linear-gradient(top, #8c23cb, #591682);
  background: -moz-linear-gradient(top, #8c23cb, #591682);
  background: -o-linear-gradient(top, #8c23cb, #591682);
  background: linear-gradient(top, #8c23cb, #591682);
  border-color: #3b0f56;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
}
/* line 166, ../scss/button.scss */
.button-royal:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #992edb), color-stop(100%, #62198f));
  background: -webkit-linear-gradient(top, #992edb, #62198f);
  background: -moz-linear-gradient(top, #992edb, #62198f);
  background: -o-linear-gradient(top, #992edb, #62198f);
  background: linear-gradient(top, #992edb, #62198f);
}
/* line 169, ../scss/button.scss */
.button-royal:active {
  background: #723299;
  color: #3b0f56;
}
/* line 173, ../scss/button.scss */
.button-royal.glow {
  -webkit-box-shadow: 0px 0px 0px rgba(119, 30, 173, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px rgba(119, 30, 173, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px rgba(119, 30, 173, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 176, ../scss/button.scss */
.button-royal.glow-on {
  -webkit-box-shadow: 0px 0px 16px rgba(119, 30, 173, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 16px rgba(119, 30, 173, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 16px rgba(119, 30, 173, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* line 189, ../scss/button.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #e9e9e9;
  border: none;
  text-shadow: none;
}
/* line 196, ../scss/button.scss */
.button-flat:hover {
  background: #fbfbfb;
}
/* line 199, ../scss/button.scss */
.button-flat:active {
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 203, ../scss/button.scss */
.button-flat.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 215, ../scss/button.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #2c9adb;
  border: none;
  color: white;
  text-shadow: none;
}
/* line 222, ../scss/button.scss */
.button-flat-primary:hover {
  background: #42a4df;
}
/* line 225, ../scss/button.scss */
.button-flat-primary:active {
  background: #4594c2;
  color: #175f8a;
}
/* line 229, ../scss/button.scss */
.button-flat-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 215, ../scss/button.scss */
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #7db500;
  border: none;
  color: white;
  text-shadow: none;
}
/* line 222, ../scss/button.scss */
.button-flat-action:hover {
  background: #8fcf00;
}
/* line 225, ../scss/button.scss */
.button-flat-action:active {
  background: #76a312;
  color: #374f00;
}
/* line 229, ../scss/button.scss */
.button-flat-action.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 215, ../scss/button.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #f19900;
  border: none;
  color: white;
  text-shadow: none;
}
/* line 222, ../scss/button.scss */
.button-flat-highlight:hover {
  background: #ffa60b;
}
/* line 225, ../scss/button.scss */
.button-flat-highlight:active {
  background: #d99318;
  color: #8b5800;
}
/* line 229, ../scss/button.scss */
.button-flat-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 215, ../scss/button.scss */
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ed1c24;
  border: none;
  color: white;
  text-shadow: none;
}
/* line 222, ../scss/button.scss */
.button-flat-caution:hover {
  background: #ef343b;
}
/* line 225, ../scss/button.scss */
.button-flat-caution:active {
  background: #d5343b;
  color: #970c11;
}
/* line 229, ../scss/button.scss */
.button-flat-caution.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 215, ../scss/button.scss */
.button-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #771ead;
  border: none;
  color: white;
  text-shadow: none;
}
/* line 222, ../scss/button.scss */
.button-flat-royal:hover {
  background: #8622c3;
}
/* line 225, ../scss/button.scss */
.button-flat-royal:active {
  background: #723299;
  color: #3b0f56;
}
/* line 229, ../scss/button.scss */
.button-flat-royal.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 244, ../scss/button.scss */
.button-large {
  font-size: 19px;
  height: 38px;
  line-height: 38px;
  padding: 0px 30px;
}

/* line 269, ../scss/button.scss */
input.button-large, button.button-large {
  height: 40px;
}

/* line 244, ../scss/button.scss */
.button-small {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0px 10px;
}

/* line 269, ../scss/button.scss */
input.button-small, button.button-small {
  height: 26px;
}

/* line 244, ../scss/button.scss */
.button-tiny {
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  padding: 0px 7px;
}

/* line 269, ../scss/button.scss */
input.button-tiny, button.button-tiny {
  height: 22px;
}
