/* line 8, ../scss/main.scss */
body {
  padding: 60px 0px 0px 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 16, ../scss/main.scss */
nav {
  background: #FFF;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  border-bottom: 1px solid #eeeeee;
  border-top: 5px solid #333333;
}
/* line 27, ../scss/main.scss */
nav ul {
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  list-style-type: none;
}
/* line 35, ../scss/main.scss */
nav ul li {
  float: left;
  margin-bottom: -3px;
}
/* line 39, ../scss/main.scss */
nav ul li.selected {
  border-bottom: 10px solid #d30d15;
}
/* line 43, ../scss/main.scss */
nav ul li.home {
  padding: 10px;
}
/* line 46, ../scss/main.scss */
nav ul li.home a {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  display: block;
  line-height: 40px;
  width: 40px;
  background: #d30d15;
  color: #FFF;
  font-family: "Cherry Swash", sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 0px;
}
/* line 61, ../scss/main.scss */
nav ul a {
  float: left;
  text-decoration: none;
  padding: 20px;
  color: #999;
  text-transform: uppercase;
}

/* line 72, ../scss/main.scss */
header {
  background: #f4f4f4;
  padding: 50px 0px 80px 0px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 100px;
}
/* line 79, ../scss/main.scss */
header hgroup {
  text-align: center;
  font-family: "Cherry Swash", sans-serif;
}
/* line 83, ../scss/main.scss */
header hgroup h1 {
  font-size: 200px;
  font-weight: 700;
  margin: 0px 10px 20px 10px;
  line-height: 180px;
  color: #333;
  text-shadow: 0px 1px 0px white;
}
/* line 91, ../scss/main.scss */
header hgroup h2 {
  color: #999;
  font-weight: normal;
  margin: 0px 10px 0px 10px;
  text-shadow: 0px 1px 0px white;
}
@media only screen and (max-width: 480px) {
  /* line 99, ../scss/main.scss */
  header hgroup h1 {
    font-size: 80px;
    line-height: 80px;
    margin: 0px 10px 10px 10px;
  }
  /* line 104, ../scss/main.scss */
  header hgroup h2 {
    font-size: 24px;
    margin: 0px 20px 20px 20px;
  }
}
/* line 111, ../scss/main.scss */
header .button-download {
  position: absolute;
  bottom: -74px;
  left: 50%;
  margin-left: -74px;
  z-index: 10;
}
/* line 118, ../scss/main.scss */
header .button-download .button {
  color: #2c9adb;
}

/* line 127, ../scss/main.scss */
#page {
  max-width: 920px;
  margin: 0px auto;
}
/* line 132, ../scss/main.scss */
#page .showcase {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #f4f4f4;
  margin: 0px 10px 60px 10px;
  position: relative;
}
/* line 139, ../scss/main.scss */
#page .showcase hgroup {
  position: absolute;
  top: -30px;
  z-index: 1;
}
/* line 144, ../scss/main.scss */
#page .showcase hgroup h3 {
  font-family: "Cherry Swash", sans-serif;
  font-weight: lighter;
  color: #CCC;
  font-size: 16px;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
}
/* line 155, ../scss/main.scss */
#page .showcase .gallery {
  padding: 20px 20px 20px 20px;
}
/* line 158, ../scss/main.scss */
#page .showcase .gallery ul {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}
/* line 163, ../scss/main.scss */
#page .showcase .gallery ul:last-child {
  margin-bottom: 0px;
}
/* line 167, ../scss/main.scss */
#page .showcase .gallery ul li {
  margin: 5px;
  display: inline-block;
}
/* line 174, ../scss/main.scss */
#page .showcase .prettyprint {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #333;
  padding: 10px 5px;
  margin: 0;
  font-size: 11px;
  line-height: 16px;
  overflow: hidden;
}
/* line 184, ../scss/main.scss */
#page .showcase .prettyprint li.L1, #page .showcase .prettyprint li.L3, #page .showcase .prettyprint li.L5, #page .showcase .prettyprint li.L7, #page .showcase .prettyprint li.L9 {
  background: #333;
}

/* line 193, ../scss/main.scss */
footer {
  background: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
/* line 201, ../scss/main.scss */
footer a {
  color: #666;
}

@media only screen and (max-width: 480px) {
  /* line 216, ../scss/main.scss */
  body {
    padding: 0px;
  }

  /* line 221, ../scss/main.scss */
  nav {
    position: static;
  }
  /* line 224, ../scss/main.scss */
  nav ul {
    width: auto;
  }
  /* line 227, ../scss/main.scss */
  nav ul li {
    float: none;
    display: block;
    border-bottom: 1px solid #eeeeee;
  }
  /* line 232, ../scss/main.scss */
  nav ul li.home {
    padding: 10px;
    margin: 5px auto;
  }
  /* line 235, ../scss/main.scss */
  nav ul li.home a {
    margin: 5px auto;
  }
  /* line 241, ../scss/main.scss */
  nav ul li.selected {
    border-bottom: 1px solid #eeeeee;
  }
  /* line 245, ../scss/main.scss */
  nav ul li a {
    float: none;
    display: block;
    line-height: 24px;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
  }
}
