/*
* 3D Buttons
*
* These buttons have a heavy three dimensional
* style that mimics the visual appearance of a
* real life button.
*/
#{$unicorn-btn-namespace}-3d {
  @include transition-property(all);
  @include transition-duration(.3s);
  @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px -1px 1px rgba(255, 255, 255, .15), 0px 7px 0px darken($unicorn-btn-bgcolor, 20%), 0px 8px 3px rgba(0, 0, 0, .2));
  @include background(linear-gradient(top,  lighten($unicorn-btn-bgcolor, 2%), darken($unicorn-btn-bgcolor, 2%)));
  background-color: $unicorn-btn-bgcolor;
  color: $unicorn-btn-font-color;
  border: 1px solid darken($unicorn-btn-bgcolor, 5%);
  text-shadow: none;
  position: relative;
  top: 0px;

  &:hover, &:focus {
    @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px -1px 1px rgba(255, 255, 255, .15), 0px 7px 0px darken($unicorn-btn-bgcolor, 20%), 0px 8px 3px rgba(0, 0, 0, .2));
    @include background(linear-gradient(top,  lighten($unicorn-btn-bgcolor, 8%), darken($unicorn-btn-bgcolor, 1%)));
    background-color: lighten($unicorn-btn-bgcolor, 10%);
  }
  &:active {
    @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px -1px 1px rgba(255, 255, 255, .15), 0px 2px 0px darken($unicorn-btn-bgcolor, 20%), 0px 3px 3px rgba(0, 0, 0, .2));
    @include background(linear-gradient(top,  darken($unicorn-btn-bgcolor, 2%), lighten($unicorn-btn-bgcolor, 2%)));
    background-color: desaturate($unicorn-btn-bgcolor, 20%);
    color: darken($unicorn-btn-bgcolor, 20%);
    border: 1px solid darken($unicorn-btn-bgcolor, 5%);
    top: 5px;
  }
  &.disabled {
    @include box-shadow(none);
  }
}

//////////////////////////////////////////////////////////
// COLORS ////////////////////////////////////////////////
//////////////////////////////////////////////////////////
@each $unicorn-btn-action in $unicorn-btn-actions {
  //GET NAME & COLOR
  $unicorn-btn-name: nth($unicorn-btn-action, 1);
  $unicorn-btn-background: nth($unicorn-btn-action, 2);
  $unicorn-btn-color: nth($unicorn-btn-action, 3);

  // .button-border-primary .button-border-action etc.
  #{$unicorn-btn-namespace}-3d-#{$unicorn-btn-name} {
    @include transition-property(all);
    @include transition-duration(.3s);
    @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px -1px 1px rgba(255, 255, 255, .15), 0px 7px 0px darken($unicorn-btn-background, 10%), 0px 8px 3px rgba(0, 0, 0, .30));
    @include background(linear-gradient(top,  lighten($unicorn-btn-background, 2%), darken($unicorn-btn-background, 2%)));
    background-color: $unicorn-btn-background;
    color: $unicorn-btn-color;
    border: 1px solid darken($unicorn-btn-background, 10%);
    text-shadow: none;
    position: relative;
    top: 0px;

    &:hover, &:focus {
      @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px -1px 1px rgba(255, 255, 255, .15), 0px 7px 0px darken($unicorn-btn-background, 12%), 0px 8px 3px rgba(0, 0, 0, .30));
      @include background(linear-gradient(top,  lighten($unicorn-btn-background, 8%), darken($unicorn-btn-background, 1%)));
      background-color: lighten($unicorn-btn-background, 10%);
    }

    &:active {
      @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px -1px 1px rgba(255, 255, 255, .15), 0px 2px 0px darken($unicorn-btn-background, 10%), 0px 3px 3px rgba(0, 0, 0, .30));
      @include background(linear-gradient(top,  darken($unicorn-btn-background, 2%), lighten($unicorn-btn-background, 2%)));
      background-color: desaturate($unicorn-btn-background, 20%);
      color: darken($unicorn-btn-background, 20%);
      border: 1px solid darken($unicorn-btn-background, 5%);
      top: 5px;
    }

    &.disabled {
      @include box-shadow(none);
    }
  }
}