/*
* Border Buttons
*
* These buttons have no fill they only have a
* border to define their hit target.
*/
#{$ubtn-namespace}-border {
  background: none;
  border-width: 2px;
  border-style: solid;

  &:hover, &:focus {
    background: none;
  }
  &:active {
    background: none;
  }
}