/*
* Border Buttons
*
* These buttons have no fill they only have a
* border to define their hit target.
*/
#{$ubtn-namespace}-border {
  background: none;
  border-width: 2px;
  border-style: solid;

  &:active {
    box-shadow: none;
    text-shadow: none;

    @if $ubtn-use-compass {
      @include transition-property(all);
      @include transition-duration(.3s);
    }
    @else {
      transition-property: all;
      transition-duration:.3s;
    }
  }
}


/*
* Border Optional Sizes
*
* A slight variation in border thickness
*/
#{$ubtn-namespace}-border-thin {
  @extend #{$ubtn-namespace}-border;
  border-width: 1px;
}
#{$ubtn-namespace}-border-thick {
  @extend #{$ubtn-namespace}-border;
  border-width: 3px;
}


/*
* Border Button Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/
#{$ubtn-namespace}-border,
#{$ubtn-namespace}-border-thin,
#{$ubtn-namespace}-border-thick {

  @each $ubtn-color in $ubtn-colors {
    $ubtn-name: nth($ubtn-color, 1);
    $ubtn-background: nth($ubtn-color, 2);
    $ubtn-color: nth($ubtn-color, 3);
    $ubtn-color-namespace: $ubtn-namespace + '-' + $ubtn-name;

    &#{$ubtn-color-namespace} {
      color: $ubtn-background;

      &:hover,
      &:focus {
        background-color: lighten($ubtn-background, 10%);
        color: $ubtn-color;
      }

      &:active {
        background-color: rgba(desaturate($ubtn-background, 10%), .7);
        //color: darken($ubtn-background, 10%);
      }
    }
  }
}