/*
* Dropdown menu buttons
*
* A dropdown menu that appears
* when a dropdown button is pressed
*/
#{$ubtn-namespace}-dropdown {
  font-weight: $ubtn-font-weight;
  font-size: $ubtn-font-size;
  font-family: $ubtn-font-family;
  position: relative;
  overflow: visible;
  display: inline-block;

  #{$ubtn-namespace}-dropdown-menu-below {
    top: 115%;
  }
  #{$ubtn-namespace}-dropdown-menu-above {
    bottom: 115%;
    top: auto;
  }

  #{$ubtn-namespace}-dropdown-divider {
    border-top: 1px solid #e4e4e4;
  }

  //DROPDOWN MENU STYLES
  #{$ubtn-namespace}-dropdown-list,
  > ul {
    display: none;
    position: absolute;
    background: $ubtn-dropdown-background;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%;

    @if($ubtn-use-compass) {
      @include box-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
      @include border-radius(3px);
    }
    @else {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
      border-radius: 3px;
    }

    > li {
      padding: 0px;
      margin: 0px;
      display: block;

      &:first-child a {
        @if($ubtn-use-compass) {
          @include border-top-radius(3px);
        }
        @else {
          border-top-radius: 3px;
        }
      }
      &:last-child a {
        @if($ubtn-use-compass) {
          @include border-bottom-radius(3px);
        }
        @else {
          border-bottom-radius: 3px;
        }
      }
    }

    a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      font-size: $ubtn-font-size;
      color: $ubtn-dropdown-link-color;
      line-height: 30px;
      white-space: nowrap;

      &:hover, &:focus {
        background-color: $ubtn-dropdown-link-hover-background;
        color: $ubtn-dropdown-link-hover;
      }
    }
  }
}
