/*
* Flat Buttons
*
* These buttons have no border or gradient.
* Flat buttons simply have a solid background color
* that defines their hit target.
*/
#{$unicorn-btn-namespace}-flat {
  $unicorn-btn-background: $unicorn-btn-bgcolor;
  @include box-shadow(none);
  @include transition-property(background);
  @include transition-duration(.3s);
  background: $unicorn-btn-background;
  border: none;
  text-shadow: none;

  &:hover, &:focus {
    background: lighten($unicorn-btn-background, 5%);
  }

  &:active {
    @include transition-duration(0s);
    background: desaturate($unicorn-btn-background, 20%);
    color: darken($unicorn-btn-background, 20%);
  }

  &.disabled {
    @include box-shadow(none);
  }
}

//////////////////////////
//FLAT BUTTON STYLES /////
//////////////////////////
@if $unicorn-btn-build-flat {
  // .button-flat-primary .button-flat-action etc.
  #{$unicorn-btn-namespace}-flat-#{$unicorn-btn-name} {
      @include box-shadow(none);
      @include transition-property(background);
      @include transition-duration(.3s);
      background: $unicorn-btn-background;
      color: $unicorn-btn-color;
      text-shadow: none;
      border: none;

      &:hover, &:focus {
          background: lighten($unicorn-btn-background, 5%);
      }
      &:active {
          @include transition-duration(0s);
          background: desaturate($unicorn-btn-background, 20%);
          color: darken($unicorn-btn-background, 15%);
      }
      &.disabled {
          @include box-shadow(none);
          -webkit-appearance: none;
      }
  }
}