/*
* Button Shapes
*
* This file creates the various button shapes
* (ex. Circle, Rounded, Pill)
*/
@each $ubtn-shape, $ubtn-shape-radius in $ubtn-shapes {
  #{$ubtn-namespace}-#{$ubtn-shape} {
    @if($ubtn-use-compass) {
      @include border-radius($ubtn-shape-radius);
    }
    @else {
      border-radius: $ubtn-shape-radius;
    }
  }
}

/*
* Circle Button Size Adjustment
*
* The line-height must be adjusted to compinsate for
* the width of the border.
*/
#{$ubtn-namespace}-circle {
  padding: 0px !important;
  width: $ubtn-height;
  height: $ubtn-height;
  line-height: $ubtn-height;

  @each $ubtn-size, $ubtn-multiplier in $ubtn-sizes {
    $ubtn-size-namespace: #{$ubtn-namespace}-#{$ubtn-size};

    &#{$ubtn-size-namespace} {
      width: $ubtn-height * $ubtn-multiplier;
    }
  }
}
