/*
* Button Shapes
*
* This file creates the various button shapes
* (ex. Circle, Rounded, Pill)
*/
@each $ubtn-shape in $ubtn-shapes {
  #{$ubtn-namespace}-#{$ubtn-shape} {
    @if $ubtn-shape == 'rounded' {
      @if($ubtn-use-compass) {
        @include border-radius(3px);
      }
      @else {
        border-radius: 3px;
      }
    }

    @if $ubtn-shape == 'pill' {
      @if($ubtn-use-compass) {
        @include border-radius(200px);
      }
      @else {
        border-radius: 200px;
      }
    }

    @if $ubtn-shape == 'circle' {
      padding: 0px !important;
      width: $ubtn-height;
      height: $ubtn-height;
      line-height: $ubtn-height;

      //COMPASS MIXIN
      @if($ubtn-use-compass) {
        @include border-radius(100%);
      }
      @else {
        border-radius: 100%;
      }
    }
  }
}