/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/
@each $ubtn-size, $ubtn-multiplier in $ubtn-sizes {
  $ubtn-size-namespace: #{$ubtn-namespace}-#{$ubtn-size};

  #{$ubtn-size-namespace} {
    font-size: $ubtn-font-size * $ubtn-multiplier;
    height: $ubtn-height * $ubtn-multiplier;
    line-height: $ubtn-height * $ubtn-multiplier;
    padding: 0px ($ubtn-height * $ubtn-multiplier);
  }
}