/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/
@each $ubtn-size in $ubtn-sizes {
  $ubtn-size-namespace: #{$ubtn-namespace}-#{$ubtn-size};
  $ubtn-circel-namespace: #{$ubtn-namespace}-circle;

  #{$ubtn-size-namespace} {
    @if $ubtn-size == 'giant' {
      font-size: $ubtn-jumbofs;
      height: $ubtn-height * 2.5;
      line-height: $ubtn-height * 2.5;
      padding: 0px ($ubtn-height * 2.5) * 1;

      &#{$ubtn-circel-namespace} {
        width: $ubtn-height * 2.5;
      }
    }

    @if $ubtn-size == 'jumbo' {
      font-size: $ubtn-jumbofs;
      height: $ubtn-height * 1.6;
      line-height: $ubtn-height * 1.6;
      padding: 0px ($ubtn-height * 1.6) * 1;

      &#{$ubtn-circel-namespace} {
        width: $ubtn-height * 1.6;
      }
    }

    @if $ubtn-size == 'large' {
      font-size: $ubtn-largefs;
      height: $ubtn-height * 1.2;
      line-height: $ubtn-height * 1.2;
      padding: 0px ($ubtn-height * 1.2) * 1;

      &#{$ubtn-circel-namespace} {
        width: $ubtn-height * 1.2;
      }
    }

    @if $ubtn-size == 'small' {
      font-size: $ubtn-smallfs;
      height: $ubtn-height * .75;
      line-height: $ubtn-height * .75;
      padding: 0px ($ubtn-height * .75) * 1;

      &#{$ubtn-circel-namespace} {
        width: $ubtn-height * .75;
      }
    }

    @if $ubtn-size == 'tiny' {
      font-size: $ubtn-tinyfs;
      height: $ubtn-height * .5;
      line-height: $ubtn-height * .5;
      padding: 0px ($ubtn-height * .75) * 1;

      &#{$ubtn-circel-namespace} {
        width: $ubtn-height * .5;
      }
    }
  }
}
