/*
* $ubtn prefix (reserved)
*
* This prefix stands for Unicorn Button - ubtn
* We provide a prefix to the Sass Variables to
* prevent namespace collisions that could occur if
* you import buttons as part of your Sass build process.
* We kindly ask you not to use the prefix $ubtn in your project
* in order to avoid possilbe name conflicts. Thanks!
*/
$ubtn: 'Unicorn Buttons';


/*
* Button Namespace (ex .button or .btn)
*
*/
$ubtn-namespace: '.button' !default; //prefix for all classes
$ubtn-glow-namespace: '.glow' !default;



/*
* Button Appearance & Types (Size, Color, Shape, Name, etc.)
*
* Most of these are self explanatory and relate to the appearance
* of the buttons that will be produced.
*
* $ubtn-colors - (name, background, color)
* $ubtn-colors is used to generate the differnt colors
* (ex. class="button-primary"). Modify the colors and
* compile with sass to see your changes. You can add as
* man colors as you want. Each block (name, background, color)
* generates a class like .button-primary, .button-secondary, etc.
*/
$ubtn-colors: ('primary' #1B9AF7  #FFF) ('secondary' #DCD4F9 #FFF) ('plain' #FFF #333) ('action' #A5DE37  #FFF) ('highlight' #FEAE1B #FFF)('caution' #FF4351 #FFF) ('royal' #7B72E9 #FFF) !default;
$ubtn-shapes: 'pill' 'circle' 'rounded';
$ubtn-glow-color: #2c9adb !default;
$ubtn-bgcolor: #EEE !default;
$ubtn-height: 32px !default;
$ubtn-sizes: 'jumbo' 'large' 'small' 'tiny' !default;
$ubtn-circle-size: 120px !default; //radius for circle buttons, circles only have one size
$ubtn-dropdown-background: #fcfcfc !default;
$ubtn-dropdown-link-color: #333 !default;
$ubtn-dropdown-link-hover: #FFF !default;
$ubtn-dropdown-link-hover-background: #3c6ab9 !default;



/*
* Typographical Settings
*
*/
$ubtn-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif  !default;
$ubtn-font-color: #666 !default;
$ubtn-font-weight: 300 !default;
$ubtn-font-size: 16px !default;
$ubtn-tinyfs: $ubtn-font-size - 4;
$ubtn-smallfs: $ubtn-font-size - 2;
$ubtn-largefs: $ubtn-font-size + 2;
$ubtn-jumbofs: $ubtn-font-size + 8;

// Inheritted font sizes also supported
@if $ubtn-font-size == inherit {
  $ubtn-tinyfs: inherit;
  $ubtn-smallfs: inherit;
  $ubtn-largefs: inherit;
  $ubtn-jumbofs: inherit;
}