@import 'compass';

$background: #fcfcfc;
$border: #EEE;
$highlight: #d30d15;
$font: 'Cherry Swash', sans-serif;


//TITLE ANIMATIONS
@-webkit-keyframes title,
 {
    from {
        color: #EEE;
        margin-top: -220px;
    }
    to {
        color: #333;
        margin-top: 0px;
    }
}

@mixin title {
    -webkit-animation-name: title;
    -khtml-animation-name: title;
    -moz-animation-name: title;
    -ms-animation-name: title;
    -o-animation-name: title;
    animation-name: title;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: 1;
}



.clear {clear: both;}

body {
    padding: 60px 0px 0px 0px;
    margin: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

// NAVIGATION /////////////////////////
nav {
    @include opacity(.9);
    background: #FFF;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;

    ul {
        width: 900px;
        margin: 0px auto;
        padding: 0px;
        list-style-type: none;



        li {
            @include transition(border .2s);
            float: left;
            margin-bottom: -3px;

            &.selected {
                border-bottom: 10px solid $highlight;
            }

            &.home {
                padding: 10px;

                a {
                    @include border-radius(100px);
                    display: block;
                    line-height: 40px;
                    width: 40px;
                    background: $highlight;
                    color: #FFF;
                    font-family: $font;
                    text-align: center;
                    font-size: 24px;
                    padding: 0px;
                }
            }
        }

        a {
            float: left;
            text-decoration: none;
            padding: 20px 15px;
            color: #999;
            text-transform: uppercase;
            font-size: 14px;
        }
     }
}

// BILLBOARD /////////////////////////
header {
    background: $background;
    padding: 40px 0px 100px 0px;
    border-bottom: 1px solid $border;
    position: relative;
    margin-bottom: 100px;
    position: relative;

    hgroup {
        text-align: center;
        font-family: $font;

        h1 {
            @include title;
            font-size: 150px;
            font-weight: 700;
            margin: 0px 10px 0px 10px;
            line-height: 150px;
            color: #333;
            text-shadow: 0px 1px 0px #FFF;
        }
        h2 {
            color: #999;
            font-weight: normal;
            margin: 0px 10px 20px 10px;
            text-shadow: 0px 1px 0px #FFF;
        }
    }

    .social-buttons {
        position: absolute;
        bottom: 20px;
        left: 20px;

        .github-button {
            min-width: 90px;
        }
    }

    .button-download {
        position: absolute;
        bottom: -74px;
        left: 50%;
        margin-left: -74px;
        z-index: 10;

        .button {
            //color: #2c9adb;
        }
    }
    @media only screen and (max-width: 480px) {
    padding: 70px 0px 80px 0px;

        hgroup {
            h1 {
                font-size: 70px;
                line-height: 80px;
                margin: 0px 10px 10px 10px;
            }
            h2 {
                font-size: 24px;
                margin: 0px 20px 20px 20px;
            }
        }

        .social-buttons {
            position: absolute;
            top: 20px;
            left: auto;
            bottom: auto;
            right: 20px;
        }
    }
}


// PAGE BODY /////////////////////////
#page {
    max-width: 920px;
    margin: 0px auto;

    //BUTTON SHOWCASE /////////////////////////
    .showcase {
        @include border-radius(10px);
        @include box-shadow(inset 0px 1px 2px rgba(0, 0, 0, .10));
        background: $background;
        margin: 0px 10px 60px 10px;
        position: relative;

        hgroup {
            position: absolute;
            top: -30px;
            z-index: 1;

            h3 {
                font-family: $font;
                font-weight: lighter;
                color: #CCC;
                font-size: 16px;
                line-height: 30px;
                margin: 0px;
                padding: 0px;

                em {
                    font-size: 11px;
                    color: #999;
                    font-style: normal;

                    a {
                        color: #999;
                    }
                }
            }
        }

        .gallery {
            padding: 20px 20px 20px 20px;

            > ul {
                list-style-type: none;
                margin: 0px 0px 20px 0px;
                padding: 0;

                &:last-child {
                    margin-bottom: 0px;
                }

                > li {
                    margin: 5px;
                    display: inline-block;
                }
            }

            em {
                font-size: 11px;
                color: #999;
                font-style: normal;

                a {
                    color: #999;
                }
            }
        }

        .prettyprint {
            @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .40));
            @include border-bottom-radius(10px);
            background: #333;
            padding: 10px 5px;
            margin: 0;
            font-size: 11px;
            line-height: 16px;
            overflow: hidden;

            li.L1, li.L3, li.L5, li.L7, li.L9 {
                background: #333;
            }
        }
    }
}


#setup {
    background: #EEE;

    h2 {
        text-align: center;
        font-weight: 100;
        font-size: 60px;
        color: #CCC;
        text-shadow: 0px 1px 0px #FFF;
        margin: 0px 0px 20px 0px ;
        line-height: 60px;

        @media only screen and (max-width: 480px) {
            font-size: 44px;
        }
    }
    h3 {
        color: #666;
        font-size: 22px;
    }

    .instructions {
        max-width: 880px;
        padding: 40px 20px;
        margin: 0px auto;

        ol.steps {
            padding-left: 30px;
            > li {
                line-height: 22px;
                margin-bottom: 10px;
                color: #666;
            }
        }

        em {
            font-size: 12px;
        }
    }


    .prettyprint {
        @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .40));
        @include border-radius(3px);
        background: #333;
        padding: 5px;
        margin: 0;
        font-size: 10px;
        line-height: 16px;
        overflow: hidden;

        .linenums {
            padding-left: 20px;
        }

        li.L1, li.L3, li.L5, li.L7, li.L9 {
            background: #333;
        }
    }

    .customize {
        float: right;
    }

    .setup {
        float: left;
    }
    .customize, .setup {
        width: 47%;
        text-align: left;

        @media only screen and (max-width: 480px) {
            float: none;
            width: auto;
            margin: 20px auto 40px auto;
        }
    }
}


footer {
    background: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 12px;

    a {
        color: #FFF;
    }
}







// MOBILE /////////////////////////


@media only screen and (max-width: 480px) {
    body {
        padding: 0px;
    }

    // NAVIGATION /////////////////////////
    nav {
        position: static;

        ul {
            width: auto;

            li {
                float: none;
                display: block;
                border-bottom: 1px solid #EEE;

                &.home {
                    padding: 10px;
                    margin: 5px auto;
                    a {
                        margin: 5px auto;
                    }
                }


                &.selected {
                    border-bottom: 1px solid #EEE;
                }

                a {
                    float: none;
                    display: block;
                    line-height: 24px;
                    padding: 10px 20px;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
}

