<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Describe your module here">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:400,700' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/unicorn_module.css">
    <link rel="stylesheet" href="css/prettify.css">
    <link rel="stylesheet" href="css/nprogress.css">
    <style type="text/css" id="custom-styles"></style>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->

    <title>Buttons - A button library built with Sass and Compass</title>
</head>
<body class="nav-pinned-left">
<div id="unicorn-app">
    <nav class="nav pinned">
        <header>
            <h1><a href="#home">B</a></h1>
            <a class="mobile-menu" href="#">Menu</a>
        </header>

        <ul></ul>

        <footer>
            <a class="download button button-block button-flat-primary button-rounded button-large" href="#">Download</a>
        </footer>
    </nav>

    <header class="hero" id="home">
        <h1>Buttons</h1>
        <h2>A CSS button library built with Sass &amp; Compass</h2>

        <section class="hero-call-to-action clearfix">
            <a class="button download button-flat-primary button-large button-rounded" href="#">Download</a>
            <a title="Adjust your settings" class="customize button button-flat button-large button-rounded" href="#"><i class="fa fa-bolt"></i> Custom</a>
        </section>


        <section class="social-buttons">
            <!-- FACEBOOK LIKE BUTTON -->
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=162853010460019";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" data-href="http://alexwolfe.github.io/Buttons/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

            <!-- GITHUB STAR BUTTON -->
            <iframe class="github-button" src="http://ghbtns.com/github-btn.html?user=alexwolfe&repo=Buttons&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>

            <!-- GITHUB FORK BUTTON -->
            <iframe class="github-button" src="http://ghbtns.com/github-btn.html?user=alexwolfe&repo=Buttons&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>

            <!-- TWITTER TWEET BUTTON -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://alexwolfe.github.io/Buttons/" data-text="Buttons - a customizable CSS button library built with Sass &amp; Compass">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </section>
    </header>


<section class="page">

<!-- ******************************************************************* -->
<!-- FLAT BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="flat" class="showcase" data-type="build" data-name="flat">
<h3>Flat Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button button-rounded button-flat">press me</a>
<a href="#" class="button button-rounded button-flat-primary">press me</a>
<a href="#" class="button button-rounded button-flat-action">press me</a>
<a href="#" class="button button-rounded button-flat-highlight">press me</a>
<a href="#" class="button button-rounded button-flat-caution">press me</a>
<a href="#" class="button button-rounded button-flat-royal">press me</a>
<br><br>
<a href="#" class="button button-pill button-flat">press me</a>
<a href="#" class="button button-pill button-flat-primary">press me</a>
<a href="#" class="button button-pill button-flat-action">press me</a>
<a href="#" class="button button-pill button-flat-highlight">press me</a>
<a href="#" class="button button-pill button-flat-caution">press me</a>
<a href="#" class="button button-pill button-flat-royal">press me</a>
<br><br>
<a href="#" class="button button-flat">press me</a>
<a href="#" class="button button-flat-primary">press me</a>
<a href="#" class="button button-flat-action">press me</a>
<a href="#" class="button button-flat-highlight">press me</a>
<a href="#" class="button button-flat-caution">press me</a>
<a href="#" class="button button-flat-royal">press me</a>
<br><br>
<a href="#" class="button button-circle button-flat">press me</a>
<a href="#" class="button button-circle button-flat-primary">press me</a>
<a href="#" class="button button-circle button-flat-action">press me</a>
<a href="#" class="button button-circle button-flat-highlight">press me</a>
<a href="#" class="button button-circle button-flat-caution">press me</a>
<a href="#" class="button button-circle button-flat-royal">press me</a>
</section>

<code></code>
</section>


<!-- ******************************************************************* -->
<!-- GLOW BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="glow" class="showcase" data-type="build" data-name="glow">
<h3>Glow Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button glow ">press me</a>
<a href="#" class="button glow button-primary">press me</a>
<a href="#" class="button glow button-action">press me</a>
<a href="#" class="button glow button-highlight">press me</a>
<a href="#" class="button glow button-caution">press me</a>
<a href="#" class="button glow button-royal">press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- ROUNDED BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="rounded" class="showcase" data-type="build" data-name="rounded">
<h3>Rounded Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button button-rounded">press me</a>
<a href="#" class="button button-rounded button-primary">press me</a>
<a href="#" class="button button-rounded button-action">press me</a>
<a href="#" class="button button-rounded button-highlight">press me</a>
<a href="#" class="button button-rounded button-caution">press me</a>
<a href="#" class="button button-rounded button-royal">press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- PILL BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="pill" class="showcase" data-type="build" data-name="pill">
<h3>Pill Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button button-pill">press me</a>
<a href="#" class="button button-pill button-primary">press me</a>
<a href="#" class="button button-pill button-action">press me</a>
<a href="#" class="button button-pill button-highlight">press me</a>
<a href="#" class="button button-pill button-caution">press me</a>
<a href="#" class="button button-pill button-royal">press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- CIRCLE BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="circle" class="showcase" data-type="build" data-name="circle">
<h3>Circle Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button button-circle ">press me</a>
<a href="#" class="button button-circle button-primary">press me</a>
<a href="#" class="button button-circle button-action">press me</a>
<a href="#" class="button button-circle button-highlight">press me</a>
<a href="#" class="button button-circle button-caution">press me</a>
<a href="#" class="button button-circle button-royal">press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- DROPDOWN BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="dropdown" class="showcase" data-type="build" data-name="dropdown">
<h3>Dropdown Buttons</h3>

<section class="showcase-examples">
<span class="button-dropdown" data-buttons="dropdown">
    <a href="#" class="button button-rounded"> press me <i class="fa fa-caret-down"></i></a>

    <ul>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
    </ul>
</span>

<span class="button-dropdown" data-buttons="dropdown">
    <a href="#" class="button button-rounded button-flat-primary"> press me <i class="fa fa-caret-down"></i></a>

    <ul class="button-dropdown-menu-below">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
    </ul>
</span>

<span class="button-dropdown" data-buttons="dropdown">
    <a href="#" class="button button-rounded button-flat-action"> press me <i class="fa fa-caret-down"></i></a>

    <ul class="button-dropdown-menu-above">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
    </ul>
</span>

<span class="button-dropdown" data-buttons="dropdown">
    <a href="#" class="button button-highlight button-rounded">
        press me <i class="fa fa-caret-down"></i>
    </a>

    <ul>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
    </ul>
</span>

<span class="button-dropdown" data-buttons="dropdown">
    <a href="#" class="button button-caution button-pill"> press me <i class="fa fa-caret-down"></i></a>

    <ul>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
    </ul>
</span>

<span class="button-dropdown" data-buttons="dropdown">
    <a href="#" class="button button-royal button-rounded">
        <i class="fa fa-envelope"></i> press me <i class="fa fa-caret-down"></i>
    </a>

    <ul>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
    </ul>
</span>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- ICON BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="icon" class="showcase" data-type="example" data-name="icon">
<h3>Icon Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button button-rounded button-flat"><i class="fa fa-github"></i> press me</a>
<a href="#" class="button button-rounded button-flat-primary"><i class="fa fa-refresh"></i> press me</a>
<a href="#" class="button button-rounded button-flat-action"><i class="fa fa-cloud"></i> press me</a>
<a href="#" class="button button-rounded button-flat-highlight"><i class="fa fa-camera"></i> press me</a>
<a href="#" class="button button-rounded button-flat-caution"><i class="fa fa-code"></i> press me</a>
<a href="#" class="button button-rounded button-flat-royal"><i class="fa fa-envelope"></i> press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- SQUARE BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="square" class="showcase" data-type="example" data-name="square">
<h3>Square Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button">press me</a>
<a href="#" class="button button-primary">press me</a>
<a href="#" class="button button-action">press me</a>
<a href="#" class="button button-highlight">press me</a>
<a href="#" class="button button-caution">press me</a>
<a href="#" class="button button-royal">press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- BLOCK BUTTONS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="block" class="showcase" data-type="example" data-name="block">
<h3>Block Buttons</h3>

<section class="showcase-examples">
<a href="#" class="button button-block button-rounded button-large">press me</a>
<br/>
<a href="#" class="button button-block button-rounded button-primary button-large">press me</a>
<br/>
<a href="#" class="button button-block button-rounded button-action button-large">press me</a>
<br/>
<a href="#" class="button button-block button-rounded button-highlight button-large">press me</a>
<br/>
<a href="#" class="button button-block button-rounded button-caution button-large">press me</a>
<br/>
<a href="#" class="button button-block button-rounded button-royal button-large">press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- SIZES ***************************************************** -->
<!-- ******************************************************************* -->

<section id="sizes" class="showcase" data-type="example" data-name="sizes">
<h3>Button Sizes</h3>

<section class="showcase-examples">
<a href="#" class="button button-rounded button-flat-primary button-large">press me</a>
<a href="#" class="button button-rounded button-flat-primary">press me</a>
<a href="#" class="button button-rounded button-flat-primary button-small">press me</a>
<a href="#" class="button button-rounded button-flat-primary button-tiny">press me</a>
</section>
<code></code>
</section>


<!-- ******************************************************************* -->
<!-- WRAPPERS ***************************************************** -->
<!-- ******************************************************************* -->

<section id="wrappers" class="showcase" data-type="example" data-name="wrappers">
<h3>Button Wrappers</h3>

<section class="showcase-examples">
<span class="button-wrap"><a href="#" class="button button-circle">press me</a></span>
<span class="button-wrap"><a href="#" class="button button-circle button-primary">press me</a></span>
<span class="button-wrap"><a href="#" class="button button-pill ">press me</a></span>
<span class="button-wrap"><a href="#" class="button button-pill button-primary">press me</a></span>
</section>
<code></code>
</section>



<!-- ******************************************************************* -->
<!-- FORMS & DISABLED BUTTONS ****************************************** -->
<!-- ******************************************************************* -->

<section id="form" class="showcase" data-example="example" data-name="form">
<h3>Button Form Elements</h3>

<section class="showcase-examples">
<input type="submit" value="press me" class="button button-pill button-primary"/>
<button class="button button-pill button-primary">press me</button>

<!-- DISABLED BUTTONS -->
<input  disabled type="submit"  value="press me" class="button button-pill button-primary"/>
<button disabled class="button  button-pill button-primary">press me</button>
<button disabled class="button button-pill button-flat-primary">press me</button>
<a href="#" class="button disabled button-pill button-primary ">press me</a>
</section>
<code></code>
</section>



</section>
<!-- END PAGE CONTENT ***************************************************** -->


<article class="instructions">
    <h2>Getting Started</h2>

    <section class="instruction-block">
        <h3><i class="fa fa-code"></i> Setup Buttons</h3>
        <ol class="steps">
            <li>
                <a class="download button button-rounded button-flat-primary button-tiny" href="#"><i class="fa fa-download"></i> Download Buttons</a> and add files to your website.
            </li>
            <li> Add css in the head of your webpage.
<pre class="prettyprint linenums">&lt;link href=&quot;//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css&quot; rel=&quot;stylesheet&quot;&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;css/buttons.css&quot;&gt;

&lt;script src=&quot;http://code.jquery.com/jquery-1.10.1.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;js/buttons.js&quot;&gt;&lt;/script&gt;</pre>

            <em>* You only need the font-awesome css if you're using icons</em><br/>
            <em>* You only need jquery &amp; buttons.js if you're using dropdown buttons</em>
            </li>
            <li>Create buttons in your html.</li>
        </ol>
    </section>

    <section class="instruction-block">
        <h3><i class="fa fa-github"></i> Customize Buttons</h3>
        <ol class="steps">
            <li><a class="button button-rounded button-flat-action button-tiny" href="https://github.com/alexwolfe/Buttons/"><i class="fa fa-github"></i> Fork or Download</a> the Buttons project on github.
            </li>
            <li>Make sure you have <a target="_blank" href="http://sass-lang.com/download.html">Sass</a> and <a target="_blank" href="http://compass-style.org/install/">Compass</a> installed.</li>
            <li>Edit the _options.scss with your own custom values</li>
            <li>In the root of the Buttons directory type <strong>compass watch</strong> on the command line.</li>
            <li>The buttons.css file should now be updated</li>
        </ol>
    </section>
    <div class="clear"></div>
</article>


<footer>
    <h3>A Unicorn UI Module</h3>
    <p>Unicorn is created by <a target="_blank" href="https://twitter.com/alexwolfe">@alexwolfe</a> &amp; <a target="_blank" href="https://twitter.com/roblevintennis">@roblevintennis</a></p>
    <p>Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a></p>
</footer>

</div>
<!-- END OF APP -->



<!-- TEMPLATE - SHOWCASE -->
<script type="text/template" id="template-code">
    <pre class="prettyprint linenums showcase-code"><%=code%></pre>
</script>

<!-- TEMPLATE - TOGGLE BUTTON -->
<script type="text/template" id="template-toggle">
    <a href="#<%=name%>">
        <%=name%>
    </a>

    <% if ( type == 'build' ){  %>
    <span class="nav-toggle-button" data-included="<%=included%>">
        <strong></strong>
        <em><%=status%></em>
    </span>
    <% } %>
</script>


<!-- TEMPLATE - CUSTOMIZER -->
<script type="text/template" id="template-customizer">

    <div class="modal">
        <header>
            <h3>Adjust Your Preferences</h3>
            <a href="#" class="close"><i class="fa fa-remove"></i></a>
        </header>

        <section class="modal-content form">
            <ul>
                <li class="c4">
                    <label for="btn-namespace">Namespace</label>
                    <div class="extended prefix">
                        <label>.</label>
                        <input name="btn-namespace" id="btn-namespace" type="text" value="<%= namespace %>" />
                    </div>
                </li>
                <li class="c4">
                    <label for="btn-font-family">Font Family</label>
                    <select name="btn-font-family" id="btn-font-family">
                        <option id="helvetica" value="Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif">Helvetica Neue</option>
                        <option id="times" value="Cambria,Hoefler Text,Utopia,Liberation Serif,Nimbus Roman No9 L Regular,Times,Times New Roman,serif">Times New Roman</option>
                        <option id="georgia" value="Constantia,Lucida Bright,Lucidabright,Lucida Serif,Lucida,DejaVu Serif,Bitstream Vera Serif,Liberation Serif,Georgia,serif">Georgia</option>
                        <option id="monospace" value="Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace">Monospace</option>
                        <option id="script" value="Brush Script MT,cursive">Brush Script MT</option>
                    </select>
                </li>
                <li class="c4">
                    <label for="btn-font-size">Base Font Size</label>
                    <input id="btn-font-size" name="btn-font-size" value="<%= size %>" type="text">
                </li>

            </ul>
            <div class="clear"></div>

            <ul class="button-actions"><!-- BUTTON FORM ROWS GET INJECTED HERE --></ul>

        </section>

        <footer>
            <input type="submit" value="Update" class="update button button-rounded button-flat-primary button-large" />
            <a href="#" class="close button button-rounded button-flat button-large">Cancel</a>
        </footer>
    </div>

    <div class="overlay "></div>
</script>

<!-- TEMPLATE - COLOR ROW -->
<script type="text/template" id="template-color-row">
    <a class="<%= namespace %> <%= namespace %>-<%= name %>" href="#"><%= name %></a>

    <label>Name</label>
    <input type="text" class="action-name"  name="action-<%= name %>" value="<%= name %>">

    <label>Background</label>
    <input  name="background" type="color" value="<%= background %>">

    <label>Font</label>
    <input name="color" type="color" value="<%= color %>">
</script>

<!-- VENDOR JAVASCRIPT -->
<script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>

<!-- build:js dist/js/vendor/all.min.js -->
<script type="text/javascript" src="js/vendor/jquery.1.10.2.js"></script>
<script type="text/javascript" src="js/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/vendor/scrollto.js"></script>
<script type="text/javascript" src="js/vendor/nprogress.js"></script>
<script type="text/javascript" src="js/vendor/underscore.1.5.1.js"></script>
<script type="text/javascript" src="js/vendor/backbone.1.1.0.js"></script>
<script type="text/javascript" src="js/vendor/spectrum.js"></script>
<!-- endbuild -->

<script src="js/buttons.js"></script>


<!-- //LOAD CUSTOMIZATION APP -->
<script src="js/app/setup.js"></script>
<script src="js/app/model.js"></script>
<script src="js/app/view-color-row.js"></script>
<script src="js/app/view-customize-form.js"></script>
<script src="js/app/view-toggle-button.js"></script>
<script src="js/app/view-nav.js"></script>
<script src="js/app/view-options-menu.js"></script>
<script src="js/app/view-showcase.js"></script>
<!-- endbuild -->

<script src="js/main.js"></script>
<script src="js/app/app.js"></script>
<script type="text/javascript">
    //START APP ON PAGE LOAD
    $(document).ready(function(){
        prettyPrint();
        var model = new Unicorn.Model(Unicorn.Options);
        new Unicorn.Views.App({model: model});
    });
</script>

</body>
</html>
