/*
* Layout margin & padding
*
*/
@for $i from 1 through 10 {
  $l-space: $i * 10;

  .l-margin-#{$l-space} {
    margin: 0px + $l-space;
  }

  .l-padding-#{$l-space} {
    padding: 0px + $l-space;
  }
}


/*
* Layout Over & Under
*
* Used to create dynamic background effects that.
* The main content should be over and the background
* sould remain under.
*/

.l-over {
  position: relative;
  z-index: $layer-2;
}
.l-under {
  z-index: $layer-1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


/*
* Alignment
*
*/

.l-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.l-right {
  text-align: right;
}
.l-left {
  text-align: left;
}


/*
* Footer
*
*/

.l-footer {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  z-index: $layer-10;
  width: 100%;
  transition: height .5s ease-in;
  background-color: $white;
  box-shadow: 0 -2px 100px rgba(0, 0, 0, 0.15);

  &.is-visible {height: 100px;}
  &.is-hidden  {height: 0; }


  .author-info,
  .newsletter-blurb {
    margin: 12px 0 0;
  }

  .newsletter-email {
    border-radius: 4px;
    padding: 4px;
    vertical-align: middle;
  }

  .mc-field-group,
  .newsletter-button {
    line-height: 28px;
  }
  .mc-field-group {
    margin-top: 6px;
  }
}
