/*
* Layout margin & padding
*
*/
@for $i from 1 through 10 {
  $l-space: $i * 10;

  .l-margin-#{$l-space} {
    margin: 0px + $l-space;
  }

  .l-padding-#{$l-space} {
    padding: 0px + $l-space;
  }
}

/*
* Alignment
*
*/

.l-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.showcase-examples {
  > .button-wrap,
  > .button-dropdown,
  > .button-group,
  > .button {
    margin: 5px;
  }
}

