/*
* Background Colors
*
*/

.background-dark {
  color: $white;
  background: $blue-shade-6;
}

.background-light {
  color: $gray;
  background: $white;
}

/*
* Text Colors
*
*/
.text-nuetral {
  color: $gray;
}

.text-light {
  color: $white;
}