//////////////////////////////////////////////////////////
// BUILD TYPES (don't edit this!)  ///////////////////////
//////////////////////////////////////////////////////////
// Purpose of this file is to set global flags for which
// types we'll include in our final css build or not.
$unicorn-btn-build-glow: false;
$unicorn-btn-build-dropdown: false;
$unicorn-btn-build-rounded: false;
$unicorn-btn-build-pill: false;
$unicorn-btn-build-circle: false;
$unicorn-btn-build-flat: false;
$unicorn-btn-build-3d: false;
$unicorn-btn-build-border: false;

// For all types provided by user we mark true
@each $unicorn-btn-type in $unicorn-btn-types {
    @if $unicorn-btn-type == 'glow' {
        $unicorn-btn-build-glow: true;
    }
    @else if $unicorn-btn-type == 'dropdown' {
        $unicorn-btn-build-dropdown: true;
    }
    @else if $unicorn-btn-type == 'rounded' {
        $unicorn-btn-build-rounded: true;
    }
    @else if $unicorn-btn-type == 'pill' {
        $unicorn-btn-build-pill: true;
    }
    @else if $unicorn-btn-type == 'circle' {
        $unicorn-btn-build-circle: true;
    }
    @else if $unicorn-btn-type == 'flat' {
        $unicorn-btn-build-flat: true;
    }
    @else if $unicorn-btn-type == 'border' {
        $unicorn-btn-build-border: true;
    }
    @else if $unicorn-btn-type == '3d' {
        $unicorn-btn-build-3d: true;
    }
}
//@debug "$unicorn-btn-build-glow is #{$unicorn-btn-build-glow}";