@import 'options';

//////////////////////////////////////////////////////////
// OPTIONS ///////////////////////////////////////////////
//////////////////////////////////////////////////////////
$hero-namespace: '.hero';
$hero-heading-font: 'Cherry Swash', sans-serif;
$hero-font: sans-serif;
$hero-title-color: #3f4955;
$hero-subtitle-color: #bdc3c7;

#{$hero-namespace} {
    padding: 60px;
    position: relative;
    box-sizing: border-box;

    h1, h2 {
        font-family: $hero-heading-font;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-family: $hero-heading-font;
        font-size: 120px;
        margin: 0px;
        line-height: 120px;
        color: $hero-title-color;
    }

    h2 {
        color: $hero-subtitle-color;
        font-size: 24px;
        margin: 0px 0px 40px 0px ;
        font-weight: lighter;
    }

    #{$hero-namespace}-call-to-action {
        margin: 20px auto 40px auto;
        display: block;
        text-align: center;

        .download {
            width: 170px;
            padding: 0px;
        }
        .button {
            margin: 0px 10px;
            font-size: 18px;
        }
    }

    .subscribe-form {
        display: block;
        text-align: center;

        input, label {
            display: block;
            box-sizing: border-box;
        }

        label {
            color: #00b5e5;
            font-size: 24px;
            margin-top: 15px;

            &.label-hint {
                color: #bdc3c7;
                font-size: 12px;
                text-transform: uppercase;
                margin-top: 15px;
            }
        }

        .subscribe-field-container {
            width: 350px;
            margin: 5px auto;

            .button {
                @include background(linear-gradient(top,  #FFF, #EEE));
                @include border-radius(0px 3px 3px 0px);
                float: right;
                height: 40px;
                border: 1px solid #CCC;
                font-size: 12px;
                padding: 0px;
                text-transform: uppercase;
                width: 120px;
            }

            input[type="email"] {
              width: 230px;
            }
        }

        input[type="text"],
        input[type="email"] {
            @include box-shadow(0px 1px 2px rgba(0, 0, 0, .1) inset);
            @include border-radius(3px 0px 0px 3px);
            min-width: 230px;
            height: 40px;
            border: 1px solid #CCC;
            background: #FFF;
            font-size: 18px;
            font-weight: 200;
            padding: 0px 10px;
            color: #999;
            border-right: none;
            float: left;
            margin: 0px;

            &:active, &:focus {
                color: darken(#00b5e5, 10%);
                border: 1px solid #00b5e5;
                outline: none;
            }
        }
    }

    .social-buttons {
        padding: 30px;
        text-align: center;

        .github-button {
            min-width: 100px;
        }
    }
    .fb-like {
        vertical-align: top;
    }
}


//////////////////////////////////////////////////////////
// MOBILE ////////////////////////////////////////////////
//////////////////////////////////////////////////////////
@media only screen and (max-width: 480px) {
    #{$hero-namespace} {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;

        .subscribe-form label {font-size: 12px; }

        h1 {
            font-size: 60px;
            line-height: 60px;
        }
        h2 {
            margin: 20px 40px 0px 40px;
            font-size: 18px;
            line-height: 24px;
        }

        #{$hero-namespace}-call-to-action {

            .download {
                margin-bottom: 10px;
            }
        }
    }
}