
//////////////////////////////////////////////////////////
// BASE DEFAULTS /////////////////////////////////////////
//////////////////////////////////////////////////////////
$unicorn-btn-namespace: '.button' !default; //prefix for all classes
$unicorn-btn-glow-namespace: '.glow' !default;
$unicorn-btn-glow-color: #2c9adb !default;
$unicorn-btn-bgcolor: #EEE !default;
$unicorn-btn-height: 32px !default;


//////////////////////////////////////////////////////////
// TYPOGRAPHY ////////////////////////////////////////////
//////////////////////////////////////////////////////////
$unicorn-btn-font-color: #666 !default;
$unicorn-btn-font-size: 16px !default;
$unicorn-btn-font-weight: 300 !default;
$unicorn-btn-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif  !default;


//////////////////////////////////////////////////////////
// BUTTON OPTIONS ////////////////////////////////////////
//////////////////////////////////////////////////////////

// (name background-color font-color) add as many as you like.
$unicorn-btn-actions: ('primary' #00A1CB #FFF) ('secondary' #FFF #FFF) ('action' #7db500 #FFF) ('highlight' #F18D05 #FFF)('caution' #E54028 #FFF) ('royal' #87318C #FFF) !default;
// Remove any type to omit from final CSS build
$unicorn-btn-types: 'rounded' 'pill' 'circle' 'dropdown' 'glow' 'flat' 'border' '3d' !default;
$unicorn-btn-sizes: 'jumbo' 'large' 'small' 'tiny' !default;
$unicorn-btn-circle-size: 120px !default; //radius for circle buttons, circles only have one size


//////////////////////////////////////////////////////////
// DROPDOWN OPTIONS //////////////////////////////////////
//////////////////////////////////////////////////////////
$unicorn-btn-dropdown-background: #fcfcfc !default;
$unicorn-btn-dropdown-link-color: #333 !default;
$unicorn-btn-dropdown-link-hover: #FFF !default;
$unicorn-btn-dropdown-link-hover-background: #3c6ab9 !default;
