/*
Error: Undefined mixin 'opacity'.
        on line 45 of demo/scss/demo.scss, in `opacity'
        from line 45 of demo/scss/demo.scss

40:     font-weight: 300;
41: }
42: 
43: // NAVIGATION /////////////////////////
44: nav {
45:     @include opacity(.9);
46:     background: #FFF;
47:     padding: 0px;
48:     position: fixed;
49:     top: 0px;
50:     left: 0px;

Backtrace:
demo/scss/demo.scss:45:in `opacity'
demo/scss/demo.scss:45
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:332:in `block in visit_mixin'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:98:in `with_mixin'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:330:in `visit_mixin'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block (2 levels) in visit_rule'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `map'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block in visit_rule'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:375:in `run'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/exec/base.rb:40:in `parse'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/lib/sass/exec/base.rb:19:in `parse!'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/gems/sass-3.4.1/bin/sass:13:in `<top (required)>'
/Users/thewolfe/.rvm/rubies/ruby-2.0.0-p451/bin/sass:23:in `load'
/Users/thewolfe/.rvm/rubies/ruby-2.0.0-p451/bin/sass:23:in `<main>'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/bin/ruby_executable_hooks:15:in `eval'
/Users/thewolfe/.rvm/gems/ruby-2.0.0-p451@global/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'opacity'.\A         on line 45 of demo/scss/demo.scss, in `opacity'\A         from line 45 of demo/scss/demo.scss\A \A 40:     font-weight: 300;\A 41: }\A 42: \A 43: // NAVIGATION /////////////////////////\A 44: nav {\A 45:     @include opacity(.9);\A 46:     background: #FFF;\A 47:     padding: 0px;\A 48:     position: fixed;\A 49:     top: 0px;\A 50:     left: 0px;"; }
