.hero {
  padding: 140px 40px;
  background: #000;
  text-align: center;
  color: #FFF;

  .hero-title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    margin: 0px;
  }

  .hero-sub-title {
    margin-bottom: 40px;
  }
}