.hero {
  padding: 150px 40px;
  background: #000;
  text-align: center;
  color: #FFF;

  > h1 {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    margin: 0px;
  }

  > h2 {
    margin-bottom: 40px;
  }
}