.logo {
  display: block;
  margin: 0px auto;
  border-radius: 100%;
  background: #FFF;
  width: 120px;
  height: 120px;
  color: #000;
  text-align: center;
  line-height: 120px;
  font-style: normal;
  font-size: 50px;
  font-family: $brand-font;
  font-weight: 300;
}