.logo {
  display: block;
  margin: 0px auto;
  border-radius: 100%;
  background: #FFF;
  width: 100px;
  height: 100px;
  color: #000;
  text-align: center;
  line-height: 100px;
  font-style: normal;
  font-size: 50px;
  font-family: $font-logo;
  font-weight: 400;
}