.phone {
  position: absolute;
  top: 120px;
  right: 60px;
  z-index: $layer-3;
  height: 800px;
  width: 440px;
  background: url("../images/iphone-6.png") top left no-repeat;

  .phone-status-bar {
    background: url("../images/iphone-status-bar.png") top left no-repeat;
    position: absolute;
    top: 170px;
    left: 70px;
    right: 70px;
    height: 20px;
    z-index: $layer-2;
  }

  .phone-header {
    padding: 20px 0px 0px 0px;
    background: darken($blue-shade-6, 10%);
    text-align: center;
    height: 44px;

    > h3 {
      font-family: $brand-font;
      font-weight: 100;
      font-style: 18px;
      margin: 0px;
      padding: 0px;
      line-height: 44px;
    }

    .button-left {
      position: absolute;
      left: 0px;
      top: 22px;
      z-index: $layer-1;
    }

    .button-right {
      position: absolute;
      right: 0px;
      top: 22px;
      z-index: $layer-1;
    }
  }

  .phone-screen {
    position: absolute;
    top: 170px;
    left: 70px;
    right: 70px;
    bottom: 124px;
    z-index: $layer-1;
  }

  .phone-footer {
    padding: 20px 60px;
    background: darken($blue-shade-6, 5%);
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 124px;
    z-index: $layer-2;
  }
}