.showcase {
  position: relative;
  padding: 60px;

  &.is-light {
    color: $gray;
  }

  &.is-dark {
    color: $white;
  }

  .showcase-title,
  .showcase-sub-title {
    font-family: $brand-font;
    font-weight: 300;
  }

  .showcase-title {
    font-size: 26px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
  }

  .showcase-sub-title {
    font-size: 16px;
    margin: 0px 0px 40px 0px;
  }
}

/*
* Showcase Colors
*
*/

.showcase-dark {
  color: #FFF;
  background: $blue-shade-6;
}