.showcase {
  position: relative;
  padding: 60px;

  &.is-light {
    color: $gray;
  }

  &.is-dark {
    color: $white;
  }

  .showcase-title,
  .showcase-sub-title {
    font-family: $brand-font;
    font-weight: 300;
  }

  .showcase-title {
    font-size: 36px;
    margin: 0px 0px 0px 0px;
    font-variant: small-caps;
  }

  .showcase-sub-title {
    font-size: 16px;
    margin: 0px 0px 40px 0px;
  }

  .button,
  .button-dropdown,
  .button-group {
    margin: 5px;

    .button,
    .button-dropdown {
      margin: 0px;
    }
  }
}

/*
* Showcase Colors
*
*/

.showcase-dark {
  color: #FFF;
  background: $blue-shade-6;
}