
//////////////////////////////////////////////////////////
// OPT IN FORM ///////////////////////////////////////////
//////////////////////////////////////////////////////////
.subscribe-form {
	padding: 60px 60px 0 60px;
}

.mc-field-group {
    label {
        margin-left: 2px;
    }
    input[type="email"] {
        font-size: 12px;
        padding: 4px;
        border-radius: 3px;
    }
    #mc-embedded-subscribe {
        margin-top: -2px;;;
    }
}
