$svgCaution: #e74c3c;
$svgSuccess: #27ae60;
$svgHighlight: #e67e22;
$svgPrimary: #3498db;
$neutralFillColor: #ccc;

@mixin svgColors($fillColor: false, $color: false) {
  @if $fillColor {
    fill: $fillColor;
  }
  @if $color {
    color: $color;
  }
}


// http://bugs.jquery.com/ticket/11352
svg { pointer-events: none;}

.svgs {
  svg {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;

    &.completed {@include svgColors($neutralFillColor, $svgSuccess);}
    &.completed-2{@include svgColors($neutralFillColor, deeppink);}
    &.overdue {@include svgColors($neutralFillColor, $svgCaution);}
    &.survey {@include svgColors($neutralFillColor, $svgHighlight);}
    &.trending {@include svgColors($neutralFillColor, $svgPrimary);}
    &.late {@include svgColors($neutralFillColor, $svgCaution);}
  }
}

.button:hover svg {
  &.completed {@include svgColors(false, lighten($svgSuccess, 10%));}
  &.completed-2{@include svgColors(false, fuchsia);}
  &.overdue {@include svgColors(false, lighten($svgCaution, 10%));}
  &.survey {@include svgColors(false, lighten($svgHighlight, 10%));}
  &.trending {@include svgColors(false, lighten($svgPrimary, 10%));}
  &.late {@include svgColors(false, lighten($svgCaution, 10%));}
}

