$svgCaution: #e74c3c;
$svgSuccess: #27ae60;
$svgHighlight: #e67e22;
$svgPrimary: #3498db;
$neutralFillColor: #ccc;

@mixin svgColors($fillColor: false, $color: false, $patchCurrentColorForIE: false) {
  @if $fillColor {
    fill: $fillColor;
  }
  @if $color {
    color: $color;
  }
  @if $patchCurrentColorForIE {
    * [fill='currentColor'] {
      fill: currentColor;
    }
  }
}


// http://bugs.jquery.com/ticket/11352
svg use { pointer-events: none;}

.svgs {
  svg {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;

    &.completed {@include svgColors($neutralFillColor, $svgSuccess, true);}
    &.completed-2{@include svgColors($neutralFillColor, deeppink, true);}
    &.overdue {@include svgColors($neutralFillColor, $svgCaution, true);}
    &.survey {@include svgColors($neutralFillColor, $svgHighlight, true);}
    &.trending {@include svgColors($neutralFillColor, $svgPrimary, true);}
    &.late {@include svgColors($neutralFillColor, $svgCaution, true);}
  }
}

.button:hover svg {
  &.completed {@include svgColors(false, lighten($svgSuccess, 10%), true);}
  &.completed-2{@include svgColors(false, fuchsia, true);}
  &.overdue {@include svgColors(false, lighten($svgCaution, 10%), true);}
  &.survey {@include svgColors(false, lighten($svgHighlight, 10%), true);}
  &.trending {@include svgColors(false, lighten($svgPrimary, 10%), true);}
  &.late {@include svgColors(false, lighten($svgCaution, 10%), true);}
}

