//One-off colors for our svg demo
$svgCaution: #e74c3c;
$svgSuccess: #27ae60;
$svgHighlight: #e67e22;
$svgPrimary: #3498db;

// http://bugs.jquery.com/ticket/11352
svg use { pointer-events: none;}

.svgs {
  svg {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;

    use,
    path {
      fill: #bbb;

      &.completed { color: $svgSuccess; }
      &.completed-2 { color: hotpink; }
      &.overdue { color: $svgCaution; }
      &.survey { color: $svgHighlight; }
      &.completed { color: $svgSuccess;  }
      &.trending { color: $svgPrimary; }
      &.late { color: $svgCaution; }
    }
  }
}

.button:hover svg use {
  &.completed { color: lighten($svgSuccess, 7%); }
  &.overdue { color: lighten($svgCaution, 7%); }
  &.survey { color: lighten($svgHighlight, 7%); }
  &.completed { color: lighten($svgSuccess, 7%);  }
  &.trending { color: lighten($svgPrimary, 7%); }
  &.late { color: lighten($svgCaution, 7%); }
}

